Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

fix merge
  apps/web/src/hooks/useAuth.js
Due: web:build, web:test, web:deploy

update tests to be compatible with updated routing by roles and api calls
  .gitlab-ci.yml
  apps/web/package.json
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/__tests__/Login.js
  apps/web/src/pages/Login.jsx
  apps/web/src/route/PrivateRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

mock network calls on frontend tests, fix password length in user create test
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/__tests__/Account.js
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/__tests__/Dash.js
  apps/web/src/__tests__/Login.js
  apps/web/src/testUtils.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update sso login to work with new auth scheme, update tests
  apps/web/src/__tests__/Federated.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/pages/Federated.jsx
Due: web:build, web:test, web:deploy

adjust test for federated login
  apps/web/src/__tests__/Federated.js
  apps/web/src/hooks/useAuth.js
Due: web:build, web:test, web:deploy

adjust mock responses in federated test
  apps/web/src/__tests__/Federated.js
Due: web:build, web:test, web:deploy

see if useAuth exception is coming from load profile
  apps/web/src/__tests__/Federated.js
  apps/web/src/pages/Federated.jsx
Due: web:build, web:test, web:deploy

set federated login to load user profile
  apps/web/src/__tests__/Federated.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/pages/Federated.jsx
Due: web:build, web:test, web:deploy

adjust federated login test
  apps/web/src/__tests__/Federated.js
Due: web:build, web:test, web:deploy

Initial roles, abilites and resource policies
  apps/backend/app/Exceptions/Handler.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Models/Role.php
  apps/backend/app/Policies/UserPolicy.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/app/Providers/AuthServiceProvider.php
  apps/backend/database/migrations/2020_11_20_155350_create_bouncer_tables.php
  apps/backend/database/migrations/2021_02_08_180522_add_domain_bouncer_roles.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/tests/Feature/PermissionsTest.php
  apps/backend/tests/Feature/RequestTest.php
  apps/backend/tests/Feature/UserTest.php
Due: api:build, api:test, api:deploy

I added a package I created to generate branch names and set yarn workspaces and lerna. for local development this saves a half gig of disk space.
  apps/backend/app/Console/Commands/GenerateNotification.php
  apps/backend/app/Http/Controllers/Api/NotificationsController.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/User.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/database/factories/Activity/ActivityFactory.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/ActivityNotificationTest.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/__tests__/Account.js
  apps/web/src/__tests__/AlertList.js
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/__tests__/Dash.js
  apps/web/src/__tests__/Federated.js
  apps/web/src/__tests__/Login.js
  apps/web/src/__tests__/__snapshots__/Account.js.snap
  apps/web/src/__tests__/__snapshots__/AlertList.js.snap
  apps/web/src/__tests__/__snapshots__/AppNavigation.js.snap
  apps/web/src/__tests__/__snapshots__/Dash.js.snap
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/styles/AlertList.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add UserList and DataTable components
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserType/HealthPlanUser.php
  apps/backend/app/Models/UserType/HealthplanUser.php
  apps/backend/app/Policies/UserPolicy.php
  apps/backend/database/migrations/2021_02_17_010158_create_payers_table.php
  apps/backend/database/migrations/2021_02_17_010159_create_health_plan_users_table.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/package.json
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/components/elements/DataTable.jsx
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/route/RoleRoute.js
  yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add backend handling user creation with role
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Http/Resources/UserType/HealthPlanUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/database/factories/UserType/HealthPlanUserFactory.php
  apps/backend/database/migrations/2021_02_08_205014_add_primary_role_to_users.php
  apps/backend/database/migrations/2021_02_08_214419_create_engineering_users_table.php
  apps/backend/database/migrations/2021_02_17_010158_create_payers_table.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/PermissionsTest.php
  apps/backend/tests/Feature/UserTest.php
Due: api:build, api:test, api:deploy

GRY-105-2 Carry typed email to the forgot password page if typed so the user does not need to re-type it
  apps/backend/app/Events/UserChangingPassword.php
  apps/backend/app/Extension/PasswordBroker.php
  apps/backend/app/Extension/PasswordBrokerManager.php
  apps/backend/app/Http/Controllers/Api/PasswordController.php
  apps/backend/app/Http/Controllers/Auth/ResetPasswordController.php
  apps/backend/app/Listeners/TrackPasswordResets.php
  apps/backend/app/Models/PasswordHistory.php
  apps/backend/app/Models/User.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/app/Providers/PasswordResetServiceProvider.php
  apps/backend/app/Rules/PasswordContiguousRule.php
  apps/backend/app/Rules/PasswordLastN.php
  apps/backend/app/Rules/PasswordNonVisibleCharsCheck.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/app.php
  apps/backend/config/rules.php
  apps/backend/database/migrations/2021_01_20_135518_create_password_histories_table.php
  apps/backend/database/migrations/2021_01_27_215916_add_notification_preferences_to_users.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/CustomRulesTest.php
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/user/PasswordRequirements.jsx
  apps/web/src/pages/SetForgotPassword.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Complete backend sorting and filtering and frontend consumption of the api data.
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Http/SearchPipeline/BaseSearchPipeline.php
  apps/backend/app/Http/SearchPipeline/Search.php
  apps/backend/app/Http/SearchPipeline/UserRole.php
  apps/backend/app/Http/SearchPipeline/UserSort.php
  apps/backend/app/Models/User.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/database.php
  apps/backend/database/seeds/AddressSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/web/public/index.html
  apps/web/src/__tests__/TableApi.js
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/DataTable.jsx
  apps/web/src/components/elements/TableAPI/TableHeaders.jsx
  apps/web/src/components/elements/TableAPI/TablePagination.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/TableTop/index.jsx
  apps/web/src/components/elements/TableTopSort.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/helpers/table.js
  apps/web/src/hooks/useSearch.js
  apps/web/src/hooks/useWindowSize.js
  apps/web/src/layouts/Admin/layoutAdmin.js
  apps/web/src/layouts/Admin/layoutAdmin.scss
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/AddUser.jsx
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/Test/Table/index.jsx
  apps/web/src/route/PrivateRoute.js
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/variables.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add Health Plan User
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Http/Resources/UserType/HealthPlanUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/app/Rules/PasswordNonVisibleCharsCheck.php
  apps/backend/config/rules.php
  apps/backend/database/factories/PayerFactory.php
  apps/backend/database/migrations/2021_02_17_010159_create_health_plan_users_table.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/phpunit.xml
  apps/backend/tests/Feature/CustomRulesTest.php
  apps/backend/tests/Feature/HealthPlanUserTest.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/components/elements/PageAlert.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/hp_finance.jsx
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/Home/hp_user.jsx
  apps/web/src/pages/Home/software_engineer.jsx
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

replace fzaninotto/faker with phpfaker/faker
  apps/backend/composer.json
  apps/backend/composer.lock
Due: api:build, api:test, api:deploy

Health Plan User Search
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Models/User.php
  apps/backend/app/Policies/UserPolicy.php
  apps/backend/config/rules.php
  apps/backend/database/migrations/2020_07_17_130553_create_phones_table.php
  apps/backend/tests/Feature/HealthPlanUserTest.php
  apps/backend/tests/Feature/UserSearchTest.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/PageAlert.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/healthplan/AddUser.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add edit health plan user page to repo
  apps/web/src/pages/healthplan/EditUser.jsx
Due: web:build, web:test, web:deploy

Add initial add member page and test backend endpoints
  apps/backend/app/Http/Controllers/Api/PlanController.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/MemberTest.php
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

build form components in addMember page
  apps/web/src/components/elements/FormButtons.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

connect new member form to api
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

fix FormButtons
  apps/web/src/components/elements/FormButtons.jsx
Due: web:build, web:test, web:deploy

If no cancel callback is passed in then don't show the cancel button
  apps/web/src/components/elements/FormButtons.jsx
Due: web:build, web:test, web:deploy

Add user search to healthplan user table
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/tests/Feature/UserSearchTest.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
  apps/web/src/components/inputs/Checkbox.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/hooks/useSearch.js
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
  apps/web/src/reducers/userReducer.js
  apps/web/src/route/PrivateRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Integrate google map api
  apps/web/src/config/Map.js
  apps/web/src/config/States.json
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

form submit
  apps/web/src/config/Types.json
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

add new features regarding form submission
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

fix remove button style
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

GRY#105-4 - implement time based password reset
  apps/backend/app/Console/Commands/PasswordLengthCommand.php
  apps/backend/app/Http/Controllers/Api/PasswordController.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Controllers/Auth/LoginController.php
  apps/backend/app/Http/Requests/PasswordValidationRequest.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Jobs/PasswordExpireCheckJob.php
  apps/backend/app/Listeners/ChangeResetPasswordFalse.php
  apps/backend/app/Models/User.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/app/Rules/PasswordLastN.php
  apps/backend/database/migrations/2021_03_16_211002_add-reset_password-to-users.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/__tests__/AlertList.js
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/SetForgotPassword.jsx
  apps/web/src/route/PrivateRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Clear userlist search input, adjust user add / update handling
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Models/Phone.php
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/factories/UserType/HealthPlanUserFactory.php
  apps/backend/database/seeds/HealthPlanUserSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
  apps/web/src/components/inputs/InputText.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY#196 - new request
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/elements/Stepper/stepper.css
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAdd/newRequestAdd.css
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps2.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/index.jsx
  apps/web/src/pages/newRequestAddSteps/newRequestAddSteps.css
Due: web:build, web:test, web:deploy

Set reset_password to false in user factory and seeder
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/seeds/UserSeeder.php
Due: api:build, api:test, api:deploy

added --parallel to the laravel tests
  .gitlab-ci.yml
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/package.json
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add title options
  apps/web/src/config/Titles.json
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

quickly stubbed components
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/index.jsx
Due: web:build, web:test, web:deploy

Set up endpoint for member search on backend
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/migrations/2021_03_17_152255_create_members_table.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/LoginTest.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

add phone factory remove path from gitignore
  apps/backend/.gitignore
  apps/backend/database/factories/PhoneFactory.php
Due: api:build, api:test, api:deploy

initialize search member page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Test/Table/index.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/styles/healthplan.scss
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

Add abilities to private route middleware check
  apps/web/src/helpers/user.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/route/PrivateRoute.js
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
