Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

.gitlab-ci.yml:

default:
  image: gryphon/php-yarn:7.4
cache:
  key:
    files:
      - apps/backend/composer.lock
      - apps/web/yarn.lock
  paths:
    - apps/backend/vendor/
#    - apps/backend/node_modules/
    - apps/web/node_modules/

stages:
  - build
  - test
  - deploy
  - dast

# sast / dast jobs
include:
#  - template: Security/SAST.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

variables:
  DAST_API_SPECIFICATION: https://api-test.dme-cg.com/docs/api-docs.json
  DAST_API_HOST_OVERRIDE: api-test.dme-cg.com

api:build:
  stage: build
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # Install Composer and project dependencies.
    # Composer already installed on image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Install laravel app
    - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Environment
    - cp .env.testing .env
    # Generate an application key. Re-cache.
    - php artisan key:generate
    - php artisan config:cache
    # Run database migrations.
    - php artisan migrate
    # Passport keys
    - php artisan passport:keys

api:test:
  stage: test
  needs: ["api:build"]
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # run laravel tests
    - php artisan test
    # run frontend tests
    # if you have any task for testing frontend
    # set it in your package.json script
    # comment this out if you don't have a frontend test
    #- npm test

api:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    # gitlab does not correctly parse certificate from textarea input on their ui, so has to be base64 encoded and decoded
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    # Envoy has been added to the image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar global require laravel/envoy
    - cd apps/backend
    - ~/.composer/vendor/bin/envoy run deploy --commit="$CI_COMMIT_SHA"
  environment:
    name: staging
    url: https://api-stage.dme-cg.com

web:build:
  stage: build
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # install
    - yarn install

web:test:
  stage: test
  needs: ["web:build"]
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # test
    - yarn test --watchAll=false

web:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    # A Lambda will trigger AWS Amplify to build and deploy this
    - cd apps
    - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

change daily molina command schedule
  apps/backend/app/Console/Kernel.php
Due: api:build, api:test, api:deploy

Add checkboxes to the clinician edit form
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
Due: web:build, web:test, web:deploy

Create healthplan user edit form
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/components/UserEditForm/HealthplanUserForm.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/Admin/UserList/UserEdit.jsx
  apps/web/src/pages/Assessment.jsx
  apps/web/src/pages/RequestSections/RequestSectionsShowForm/index.jsx
  apps/web/src/pages/healthplan/AddUser.jsx
Due: web:build, web:test, web:deploy

removed project-cli, ran yarn install on all the lerna tracked directories, and removed the yarn workspaces usage. We're not using it and it makes deployments harder for now.
  .tool-versions
  apps/aws/pkgs/ServerlessBuild/yarn.lock
  apps/backend/package.json
  apps/project-cli/README.md
  apps/project-cli/index.js
  apps/project-cli/package.json
  apps/project-cli/task_open.js
  apps/project-cli/yarn.lock
  lerna.json
  package.json
  yarn.lock
Due: api:build, api:test, api:deploy

postinstall lerna filter might have been linux and mac specific duplicating --scope should make it better
  package.json
Due: none

Assessment builder api
  apps/backend/app/Http/Controllers/Api/Admin/AssessmentController.php
  apps/backend/app/Http/Controllers/Api/FormController.php
  apps/backend/app/Http/Requests/Admin/AssessmentRequest.php
  apps/backend/app/Http/Resources/Admin/AssessmentResource.php
  apps/backend/app/Http/Resources/Form/FormListResource.php
  apps/backend/app/Http/Resources/Form/FormSectionResource.php
  apps/backend/app/Jobs/Admin/RequestAssessmentJob.php
  apps/backend/app/Models/AssesmentForm.php
  apps/backend/app/Models/Assessment.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/FormSection.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestFormSection.php
  apps/backend/database/factories/AssessmentFactory.php
  apps/backend/database/factories/FormFactory.php
  apps/backend/database/migrations/2021_05_09_202929_create_form_sections_table.php
  apps/backend/database/migrations/2021_10_22_125015_create_assessments_table.php
  apps/backend/database/migrations/2021_10_23_160751_create_assessment_form_table.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/AssessmentTest.php
  apps/backend/tests/Feature/Admin/FormTest.php
  apps/backend/tests/Feature/Admin/RequestControllerTest.php
  apps/backend/tests/Feature/AssessmentTest.php
  apps/backend/tests/Feature/QuestionnaireTest.php
  apps/backend/tests/Feature/RequestTest.php
  apps/backend/tests/Unit/AnswerTest.php
  apps/backend/tests/Unit/AssessmentTest.php
  apps/web/src/route/PrivateRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Added in more of the narrative report flow. I need to pull in request answers and fields now
  apps/backend/app/Http/Controllers/Api/NarrativeReportTemplatesController.php
  apps/backend/app/Http/Requests/NarrativeReportTemplateRequest.php
  apps/backend/app/Http/Resources/NarrativeReport/TemplateResource.php
  apps/backend/app/Http/Resources/NarrativeReportTemplateResource.php
  apps/backend/app/Models/NarrativeReport.php
  apps/backend/app/Models/NarrativeReportTemplate.php
  apps/backend/routes/api.php
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
  apps/web/src/pages/Admin/NarrativeReport/headers.js
  apps/web/src/pages/Admin/NarrativeReport/index.jsx
  apps/web/src/pages/Admin/NarrativeReport/useApiCalls.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

removed console.log output
  apps/web/src/components/elements/FancyEditor/index.jsx
Due: web:build, web:test, web:deploy

added underline after italic
  apps/web/src/components/elements/FancyEditor/index.jsx
Due: web:build, web:test, web:deploy

Add admin assessment index page
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Assessment/Assessment.jsx
  apps/web/src/pages/Assessment/AssessmentList.jsx
Due: web:build, web:test, web:deploy

Update scheduling component
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/components/inputs/Textarea.jsx
  apps/web/src/helpers/datetime.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
Due: web:build, web:test, web:deploy

Added more deps to the private routes component
  apps/web/src/route/PrivateRoute.js
Due: web:build, web:test, web:deploy

update sftp transfer schedule
  apps/backend/app/Console/Kernel.php
Due: api:build, api:test, api:deploy

Use onEditorChange instead of selection change it updates better
  apps/web/src/components/elements/FancyEditor/index.jsx
Due: web:build, web:test, web:deploy

Added in the new form builder checkbox and started adding in the span settings change, but its not done.
  apps/web/src/components/FormBuilder/Fields/GryCheckbox.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
Due: web:build, web:test, web:deploy

Fix appnavigation url issue
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: web:build, web:test, web:deploy

Add user from userlist
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/components/UserEditForm/HealthplanUserForm.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/UserList/UserAdd.jsx
  apps/web/src/pages/Admin/UserList/UserEdit.jsx
  apps/web/src/pages/Admin/UserList/UserList.jsx
Due: web:build, web:test, web:deploy

admin clinian add form
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
Due: web:build, web:test, web:deploy

Assessment Rule Api
  apps/backend/app/Http/Controllers/Api/Admin/AssessmentRuleController.php
  apps/backend/app/Http/Requests/Admin/AssessmentRuleRequest.php
  apps/backend/app/Http/Resources/Admin/AssessmentRuleResource.php
  apps/backend/app/Models/AssessmentRule.php
  apps/backend/app/Models/Icd10Codes.php
  apps/backend/database/factories/AssessmentRuleFactory.php
  apps/backend/database/migrations/2021_10_28_143440_create_assessment_rules_table.php
  apps/backend/database/migrations/2021_10_28_154822_create_icd10_codes_table.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/AssessmentRuleControllerTest.php
  apps/backend/tests/Feature/Admin/AssessmentTest.php
  apps/backend/tests/Feature/RequestAddTest.php
Due: api:build, api:test, api:deploy

healthplan user add component
  apps/web/src/components/UserEditForm/HealthplanUserForm.jsx
  apps/web/src/components/contextInputs/FormButtons/index.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
Due: web:build, web:test, web:deploy

Create assessment page
  apps/web/package.json
  apps/web/src/components/assessment/AssessmentAddForm.jsx
  apps/web/src/components/assessment/FormRow.jsx
  apps/web/src/fontawesome.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Assessment/AssessmentAdd.jsx
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

Update couple issue in assessment add component
  apps/web/src/components/assessment/AssessmentAddForm.jsx
  apps/web/src/components/assessment/FormRow.jsx
  apps/web/src/pages/Assessment/AssessmentAdd.jsx
Due: web:build, web:test, web:deploy

Add payer to assessment rule criteria
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/Admin/AssessmentRuleRequest.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/Admin/AssessmentRuleResource.php
  apps/backend/app/Jobs/Admin/RequestAssessmentJob.php
  apps/backend/app/Jobs/UserCreationJob.php
  apps/backend/app/Models/AssessmentRule.php
  apps/backend/tests/Feature/Admin/AssessmentRuleControllerTest.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
  apps/backend/tests/Feature/PermissionsTest.php
Due: api:build, api:test, api:deploy

Added improved span width settings using flex-grow or bootstrap column or percent/ pixel.
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
Due: web:build, web:test, web:deploy

setup ci/cd for skunkworks environment
  .gitlab-ci.yml
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

fix missing quote in envoy template
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

fix quotes in deploy success syntax
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

Added better rule and validation support
  apps/web/src/Context/FormContext.js
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

Add envoy to dev and adjust deployment syntax
  apps/backend/Envoy.blade.php
  apps/backend/composer.json
  apps/backend/composer.lock
Due: api:build, api:test, api:deploy

add task for triggering teams webhook to deployment
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

remove envoy template comments causing parse error
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

remove teams webhook from envoy
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

Misc changes to the narrative report and form buider
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GryCheckbox.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/elements/FancyEditor/index.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

fix warnings
  apps/web/src/Context/FormContext.js
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

Add payer select box
  apps/web/src/components/UserEditForm/HealthplanUserForm.jsx
  apps/web/src/components/elements/LoadingIcon.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

Update edit assessment form
  apps/backend/app/Http/Controllers/Api/Admin/AssessmentController.php
  apps/backend/tests/Feature/Admin/AssessmentTest.php
  apps/web/src/components/assessment/AssessmentAddForm.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Assessment/AssessmentAdd.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

adjust resources for child objects, only show relationships when needed in detail resource
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Controllers/Api/MemberRequestController.php
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/app/Http/Resources/PayerDetailResource.php
  apps/backend/app/Http/Resources/PayerSiblingResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Policies/PayerPolicy.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

Healthplan side menu adjustment
  apps/web/src/__tests__/Dash.js
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/layouts/components/menu/index.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/layouts/components/sidebar/index.jsx
  apps/web/src/styles/RequestList.scss
Due: web:build, web:test, web:deploy

fix grid issue
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
Due: web:build, web:test, web:deploy

Remove label from plan hidden field
  apps/backend/Envoy.blade.php
  apps/web/src/components/request/MemberForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy
