Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

add consideration form handling
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
Due: web:build, web:test, web:deploy

backend processing for considerations
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Requests/ConsiderationRequest.php
  apps/backend/database/migrations/2021_12_23_104719_add_consideration_columns.php
  apps/backend/routes/api.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

adjust api and frontend
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Requests/ConsiderationRequest.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/RequestItem.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Request item full name
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Change companies to clients
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Clients/AddClients/AddClientForm.jsx
  apps/web/src/pages/Admin/Clients/AddClients/index.jsx
  apps/web/src/pages/Admin/Clients/AddressTab/index.jsx
  apps/web/src/pages/Admin/Clients/ClientDetailForm/index.jsx
  apps/web/src/pages/Admin/Clients/Clients.jsx
  apps/web/src/pages/Admin/Clients/ContactTab/index.jsx
  apps/web/src/pages/Admin/Clients/DetailClients.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabAssocCompanies.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabBilling.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabCriteria.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabGeographicFilters.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabMisc.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabNarrativeReports/EmailTemplate.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabNarrativeReports/TabNarrativeReports.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabNotes.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabPricing.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabReports.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabRequestTypes.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabReviewers.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabTemplates.jsx
  apps/web/src/pages/Admin/Clients/Tabs/TabTherapyNetworks.jsx
  apps/web/src/styles/clients.scss
Due: web:build, web:test, web:deploy

adjust backend to send all parent request types, show saved data in frontend ui
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

adjust backend to update additional considerations
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/backend/app/Models/Consideration.php
  apps/backend/tests/Feature/RequestAssessmentFormTest.php
Due: api:build, api:test, api:deploy

add unit test for considerations api
  apps/backend/tests/Feature/ConsiderationRequestTest.php
Due: api:build, api:test, api:deploy

add delete consideration to ui
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
Due: web:build, web:test, web:deploy

update verbiage and request type grouping
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: web:build, web:test, web:deploy

Add Activity section to view request component
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/RequestForm.jsx
Due: web:build, web:test, web:deploy

Dashboard tab for alerts
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/components/elements/RequestsTable.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Adjust style for request table
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

Generate notifications for activity
  apps/backend/app/Events/ActivityCreated.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Listeners/ActivityCreatedListener.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/ActivityTest.php
Due: api:build, api:test, api:deploy

Add assigned request notification
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Notifications/AssignedNotification.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/backend/tests/Feature/RequestTest.php
Due: api:build, api:test, api:deploy

Back navigation on request view
  apps/web/src/pages/healthplan/RequestEdit.jsx
Due: web:build, web:test, web:deploy

Connect notification api
  apps/backend/app/Http/Controllers/Api/NotificationsController.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/NotificationList.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Reviewer request search params, delete notifications
  apps/backend/app/Http/Controllers/Api/NotificationsController.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Models/Request.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/ActivityTest.php
Due: api:build, api:test, api:deploy

Allow no documents for request entry
  apps/backend/app/Http/Controllers/Api/DocumentRequestController.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2022_01_06_151847_add_request_no_doc_columns.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/backend/tests/Feature/RequestDocumentTest.php
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/RequestDocForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Reviewer Dashboard
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Models/Request.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
  apps/backend/tests/Feature/RequestTest.php
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/forms/ClinicianInfoForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update notifications style
  apps/web/src/Context/GlobalContext.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
Due: web:build, web:test, web:deploy

Add revelant diagnosis section to assessment
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/RequestType.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/AssessmentDiagnosisTest.php
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/DiagnosisForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/assessment/views/DiagnosisView.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add action to the notifications in top navigation
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
Due: web:build, web:test, web:deploy

Reviewer Manager Role in the Dashboard
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/Request.php
  apps/backend/database/seeds/UserSeeder.php
  apps/web/src/components/elements/DateRangeForm.jsx
  apps/web/src/components/elements/RequestsTable.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update forgot password form using context form
  apps/web/src/components/assessment/views/DiagnosisView.jsx
  apps/web/src/pages/ForgotPassword.jsx
Due: web:build, web:test, web:deploy

AHA-00 - I only set up sail, untested.
  apps/backend/README.md
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/docker-compose.yml
  apps/backend/package.json
Due: api:build, api:test, api:deploy

GRY-515 adding ability on the narrative report to add css
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Requests/NarrativeReportTemplateRequest.php
  apps/backend/app/Http/Resources/NarrativeReportTemplateResource.php
  apps/backend/app/Models/NarrativeReportTemplate.php
  apps/web/src/helpers/string.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-515 adding ability on the narrative report to add css
  apps/backend/database/migrations/2022_01_18_203926_add-styles-to-narrative-report-template.php
Due: api:build, api:test, api:deploy

Request Search Feedback
  apps/web/src/components/elements/DateRangeForm.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/pages/ForgotPassword.jsx
  apps/web/src/pages/Login/LoginForm.jsx
  apps/web/src/pages/Login/index.jsx
Due: web:build, web:test, web:deploy

GRY-515 adding ability on the narrative report to add css
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: web:build, web:test, web:deploy

instruction update
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: web:build, web:test, web:deploy

Request details optional for request items in request form
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-334 - move checkbox group checkboxes before the label and make sure the required logic is working for checkbox groups.
  apps/web/package.json
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GryCheckbox.jsx
  apps/web/src/components/FormBuilder/Fields/GryNumberInput.jsx
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/FormBuilder/FormBuilderSubmit/index.jsx
  apps/web/src/components/FormBuilder/FormBuilderWrapper/index.jsx
  apps/web/src/components/FormBuilder/RenderForm/index.jsx
  apps/web/src/components/FormBuilder/context/FormBuilderFieldContext.js
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/elements/ButtonWithDropdown/index.jsx
  apps/web/src/components/elements/Form.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/Autofill/index.jsx
  apps/web/src/components/forms/form-builder/CustomRule/index.jsx
  apps/web/src/components/forms/form-builder/CustomValidation/index.jsx
  apps/web/src/components/forms/form-builder/NumberInputOptions/index.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.scss
  apps/web/src/components/forms/form-builder/index.js
  apps/web/src/components/inputs/CheckBoxGroup/index.jsx
  apps/web/src/components/inputs/Checkbox/index.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/helpers/string.js
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/RequestSections/RequestSectionsShowForm/index.jsx
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

update notifications list table
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Notifications/AssignedNotification.php
  apps/backend/tests/Feature/RequestTest.php
  apps/web/src/Context/FormContext.js
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/FormBuilder/RenderForm/index.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/NotificationList.jsx
  apps/web/src/styles/notifications.scss
  apps/web/src/styles/variables.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-515 adding ability on the narrative report to add css and register handlebar helpers
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Requests/NarrativeReportTemplateRequest.php
  apps/backend/app/Http/Resources/NarrativeReportTemplateResource.php
  apps/backend/app/Models/NarrativeReportTemplate.php
  apps/backend/database/migrations/2022_01_18_203926_add-styles-to-narrative-report-template.php
  apps/web/src/helpers/string.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Persist some tinymce settings and simplify the tinymce value storage
  apps/web/src/components/elements/FancyEditor/index.jsx
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: web:build, web:test, web:deploy

Replace template string with quotes
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: web:build, web:test, web:deploy

Add user request search settings
  apps/backend/app/Http/Controllers/Api/ClinicalServicesUserController.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/app/Notifications/AssignedNotification.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/app/Notifications/RequestUpdatedNotification.php
  apps/backend/tests/Feature/ActivityNotificationTest.php
  apps/backend/tests/Feature/RequestSearchTest.php
Due: api:build, api:test, api:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
