Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

pass id with language name
  apps/backend/app/Http/Resources/PayerResource.php
Due: api:build, api:test, api:deploy

update language options for member add form
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

handle search loading state in table api
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
Due: web:build, web:test, web:deploy

Set up sms 2fa and sms via aws sns
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Notifications/Channels/SmsChannel.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/app/Notifications/RequestUpdatedNotification.php
  apps/backend/app/Notifications/TwoFactorNotification.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/tests/Feature/LoginTest.php
Due: api:build, api:test, api:deploy

fix icon position when clicked or hovered in the left bar
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

Fix new request loading, format member search table, add request add action
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

inital work with Training page
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Training/Tabs/TabCompliance.jsx
  apps/web/src/pages/Training/Tabs/TabPortalTraining.jsx
  apps/web/src/pages/Training/Tabs/TabResources.jsx
  apps/web/src/pages/Training/Training.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

GRY-272 - added profile image upload
  .gitlab-ci.yml
  README.md
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Controllers/ImageController.php
  apps/backend/app/Http/Resources/ImageResource.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/Image.php
  apps/backend/app/Models/User.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/filesystems.php
  apps/backend/database/migrations/2021_05_17_135831_create_images_table.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/styles/layout.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Show user avatar on account page
  apps/web/src/pages/Account.jsx
  apps/web/src/pages/tabs/TabAccount.jsx
Due: web:build, web:test, web:deploy

Account page
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/config/filesystems.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/__tests__/Account.js
  apps/web/src/actions/userAction.js
  apps/web/src/helpers/validate.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Account.jsx
  apps/web/src/pages/Account/Account.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Account/Tabs/TabDocuments.jsx
  apps/web/src/pages/Account/Tabs/TabSecurity.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/tabs/TabAccount.jsx
  apps/web/src/reducers/userReducer.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Api for two factor auth options by user domain
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Models/BusinessOperationsUser.php
  apps/backend/app/Models/HealthPlanUser.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2021_05_11_230131_create_payer_users_table.php
  apps/backend/tests/Feature/UserTest.php
Due: api:build, api:test, api:deploy

add all option to status in request lookup
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: web:build, web:test, web:deploy

county is optional in add member page
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

remove blank line
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

GRY-272 - added profile image upload
  apps/backend/app/Http/Controllers/Api/Admin/MembersController.php
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Requests/PayerRequest.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/User.php
  apps/backend/app/Policies/PayerPolicy.php
  apps/backend/app/Providers/AuthServiceProvider.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

pre populate first name, last name, dob in add member page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

add new links to top nav bar
  apps/web/public/images/icons/cog.png
  apps/web/public/images/icons/user-2.png
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

Add a seeder for requests
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Traits/Uuidable.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/migrations/2020_12_28_130825_create_requests_table.php
  apps/backend/database/seeds/AssessmentSeeder.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/RequestSeeder.php
  apps/backend/database/seeds/RequestTypeSeeder.php
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-262 - Added company image/ avatar image upload and url to view the payer image
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/app/Http/Controllers/ImageController.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/User.php
  apps/backend/config/app.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
Due: api:build, api:test, api:deploy

use correct parameters for avatar height and width config, make defaults
  apps/backend/app/Models/User.php
Due: api:build, api:test, api:deploy

Request Lookup Table column
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: web:build, web:test, web:deploy

Preserve previous search status
  apps/web/src/actions/authAction.js
  apps/web/src/actions/formAction.js
  apps/web/src/actions/searchAction.js
  apps/web/src/actions/types.js
  apps/web/src/actions/userAction.js
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/elements/TableAPI/TableHeaders.jsx
  apps/web/src/hooks/useToast.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/reducers/formReducer.js
  apps/web/src/reducers/index.js
  apps/web/src/reducers/restoreSearchReducer.js
  apps/web/src/reducers/userReducer.js
Due: web:build, web:test, web:deploy

Quick sync from the EAG table
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Models/RequestDate.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestTypeDetailTemplate.php
  apps/backend/app/Models/RequestTypesHcpc.php
  apps/backend/app/Models/Tag.php
  apps/backend/app/Models/Tagable.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2014_10_12_000000_create_users_table.php
  apps/backend/database/migrations/2021_03_19_174322_create_request_dates_table.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/migrations/2021_05_11_234618_create_request_type_detail_templates_table.php
  apps/backend/database/migrations/2021_06_01_132658_create_tags_table.php
  apps/backend/database/migrations/2021_06_01_132709_create_tagables_table.php
  apps/backend/database/migrations/2021_06_01_133750_create_request_types_hcpcs_table.php
Due: api:build, api:test, api:deploy

updated the members -> languages relationship
  apps/backend/app/Models/Member.php
Due: api:build, api:test, api:deploy

Add pertinent fields to request creation
  apps/backend/app/Http/Controllers/Api/MemberRequestController.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Requests/PayerRequest.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Policies/MemberPolicy.php
  apps/backend/app/Policies/PayerPolicy.php
  apps/backend/app/Policies/UserPolicy.php
  apps/backend/app/Providers/AuthServiceProvider.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/migrations/2020_12_28_130825_create_requests_table.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/RequestSeeder.php
  apps/backend/tests/Feature/MemberTest.php
  apps/backend/tests/Feature/PayerTest.php
  apps/backend/tests/Feature/RequestAddTest.php
Due: api:build, api:test, api:deploy

change order of migration to accomodate foreign key constraints
  apps/backend/database/migrations/2021_03_25_130825_create_requests_table.php
  apps/backend/database/migrations/2021_03_26_174322_create_request_dates_table.php
Due: api:build, api:test, api:deploy

Company index page
  apps/web/public/images/icons/briefcase.png
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

Add seeder for test payers
  apps/backend/database/seeds/TestPayerSeeder.php
Due: api:build, api:test, api:deploy

GRY-307 - Added search pipeline and implemented it for clinicians
  apps/backend/app/Http/Controllers/Api/Admin/RequestController.php
  apps/backend/app/Http/SearchPipeline/Dates.php
  apps/backend/app/Http/SearchPipeline/TherapyNetworkId.php
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
  apps/backend/tests/Feature/Admin/RequestControllerTest.php
Due: api:build, api:test, api:deploy

Add 2 tabs in companies add page
  apps/web/public/images/dme-icon.svg
  apps/web/public/images/icons/camera.svg
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNarrativeReports/EmailTemplate.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNarrativeReports/TabNarrativeReports.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

This field, line_of_business, is not needed, there is a foreign key lob_id for the line of business relationship.
  apps/backend/database/migrations/2021_03_17_152255_create_members_table.php
Due: api:build, api:test, api:deploy

Add company and payer categories
  apps/backend/app/Http/Controllers/Api/Admin/CompanyCategoryController.php
  apps/backend/app/Http/Controllers/Api/Admin/MemberController.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/TherapyNetwork.php
  apps/backend/database/migrations/2021_02_17_010158_create_payers_table.php
  apps/backend/database/migrations/2021_05_11_225817_create_payer_types_table.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/CompanyCategoryTest.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

add Request Types tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/RequestTypes.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

Add Pricing Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabPricing.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabRequestTypes.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

add Criteria tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCriteria.jsx
Due: web:build, web:test, web:deploy

Use auth:api instead of just auth and make sure to let software_engineer do everything.
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/database/seeds/BouncerSeeder.php
Due: api:build, api:test, api:deploy

Reply with company categories
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/web/src/pages/Admin/Companies/Companies.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add Billing Tab
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabBilling.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add company create backend
  apps/backend/app/Http/Controllers/Api/Admin/CompanyCategoryController.php
  apps/backend/app/Http/Controllers/Api/Admin/CompanyController.php
  apps/backend/app/Http/Requests/Admin/CompanyRequest.php
  apps/backend/app/Http/Resources/TherapyNetworkResource.php
  apps/backend/app/Jobs/MemberUpdateJob.php
  apps/backend/app/Models/TherapyNetwork.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/CompanyAddTest.php
Due: api:build, api:test, api:deploy

fix table names in migrations down method
  apps/backend/database/migrations/2021_01_27_204801_create_activity_types_table.php
  apps/backend/database/migrations/2021_03_19_172233_create_payer_request_types_table.php
  apps/backend/database/migrations/2021_05_09_191918_create_clinical_types_table.php
Due: api:build, api:test, api:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
