Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

update member page layout
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

add component for plans and lobs, change contact field names to what the api expects
  apps/web/src/components/elements/ContactMethodRow/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/components/elements/MemberInfoForm.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

update company add page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Companies/AddCompanies/AddCompanyForm.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/index.jsx
Due: web:build, web:test, web:deploy

Update admin clinician creation/edit page
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
  apps/web/src/pages/Admin/Clinicians/Clinicians.jsx
Due: web:build, web:test, web:deploy

update admin role in appnavigation
  apps/web/src/navigation/AppNavigation.js
Due: web:build, web:test, web:deploy

Fixed remaining issue with the checkbox
  apps/web/src/Context/FormContext.js
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/inputs/CheckBoxGroup/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
Due: web:build, web:test, web:deploy

Add Business Operations (admin) user
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/UserType/BusinessOperationsUserResource.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserType/BusinessOperationsUser.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/routes/api.php
  apps/web/package.json
  apps/web/src/Context/UserContext.js
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/views/DueDateView.jsx
  apps/web/src/helpers/datetime.js
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update due date field in request table
  apps/web/src/components/elements/RequestsTable.jsx
Due: web:build, web:test, web:deploy

Update dashboard page for business roles
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Home/client_services_manager.jsx
  apps/web/src/pages/Home/client_services_specialist.jsx
  apps/web/src/pages/Home/coo.jsx
Due: web:build, web:test, web:deploy

Update company detail page
  apps/web/src/components/elements/ContactMethodRow/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/fontawesome.js
  apps/web/src/pages/Admin/Companies/AddressTab/index.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/CompanyDetailForm/index.jsx
  apps/web/src/pages/Admin/Companies/ContactTab/index.jsx
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabAssocCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabBilling.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCriteria.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabGeographicFilters.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabMisc.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNarrativeReports/EmailTemplate.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNarrativeReports/TabNarrativeReports.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNotes.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabPricing.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabReports.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabRequestTypes.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabReviewers.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabTemplates.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabTherapyNetworks.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: web:build, web:test, web:deploy

add webinar tab to the training page
  apps/web/src/pages/Training/Tabs/TabPortalTraining.jsx
  apps/web/src/pages/Training/Tabs/TabWebinar.jsx
  apps/web/src/pages/Training/Training.jsx
Due: web:build, web:test, web:deploy

The new span width value is not saving. I'm tracking that down and I need to...
  .tool-versions
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GryInputGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryInputGroupRepeater.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/CheckBoxGroup/index.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/edit/style.scss
  apps/web/src/pages/Admin/FormBuilder/show/RenderForm.jsx
Due: web:build, web:test, web:deploy

Add test for clinical user list
  apps/backend/app/Models/UserType/BusinessOperationsUser.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/database/factories/UserType/ClinicalServicesUserFactory.php
  apps/backend/database/seeds/ClinicalServicesUserSeeder.php
  apps/backend/tests/Feature/ClinicalServicesUserTest.php
  apps/web/src/pages/Admin/Companies/AddCompanies/AddCompanyForm.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

make resourse for user search results
  apps/backend/app/Http/Controllers/Api/Admin/UserController.php
  apps/backend/app/Http/Resources/UserListResource.php
Due: api:build, api:test, api:deploy

fix clinician relationship in request model, assign ability in controller
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/Request.php
Due: api:build, api:test, api:deploy

Assign Clinician to Request
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/ClinicianInfoForm.jsx
  apps/web/src/components/request/views/ClinicianInfoView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

assign reviewers api, frontend adjustment assign form
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2021_03_25_130825_create_requests_table.php
  apps/backend/database/seeds/ClinicalServicesUserSeeder.php
  apps/backend/tests/Feature/ClinicalServicesUserTest.php
  apps/web/src/components/request/views/ClinicianInfoView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-334 - add form-groups flow
  apps/backend/.phpstorm.meta.php
  apps/backend/.tool-versions
  apps/backend/app/Http/Controllers/Api/FormAnswerController.php
  apps/backend/app/Http/Controllers/Api/FormGroupController.php
  apps/backend/app/Http/Requests/Api/FormGroupSaveRequest.php
  apps/backend/app/Http/Resources/Api/FormGroupResource.php
  apps/backend/app/Http/Resources/FormGroupShowResource.php
  apps/backend/app/Http/Resources/FormResource.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/FormAnswer.php
  apps/backend/app/Models/FormGroup.php
  apps/backend/app/Models/FormType.php
  apps/backend/database/migrations/2021_10_07_002434_add_form_answers_polymorphic_relationship.php
  apps/backend/database/migrations/2021_10_07_003606_add-type_id-to-forms.php
  apps/backend/database/migrations/2021_10_07_003732_create_form_types_table.php
  apps/backend/database/migrations/2021_10_07_155143_create_form_groups_table.php
  apps/backend/database/migrations/2021_10_07_155325_create_form_form_group_table.php
  apps/backend/routes/api.php
  apps/web/.tool-versions
  apps/web/package.json
  apps/web/src/Context/FormProgress.js
  apps/web/src/components/elements/RequestForms.jsx
  apps/web/src/components/forms/ProgressBar/WizardItem.jsx
  apps/web/src/components/forms/ProgressBar/index.jsx
  apps/web/src/fontawesome.js
  apps/web/src/hooks/useApiSortable.js
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/form_groups/edit/FormListItem.jsx
  apps/web/src/pages/Admin/FormBuilder/form_groups/edit/index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/Errors/401.jsx
  apps/web/src/pages/FormWizard/RenderForms.jsx
  apps/web/src/pages/FormWizard/index.jsx
  apps/web/src/pages/Home/client_services_manager.jsx
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add reviewer to request resource
  apps/backend/app/Http/Resources/RequestResource.php
Due: api:build, api:test, api:deploy

Adjust clinician Request list query, Request summary for user types
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
Due: api:build, api:test, api:deploy

Add payer column to the admin request table
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/elements/TableAPI/TableHeaders.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
Due: web:build, web:test, web:deploy

Start to clean out the form group work in preparation for saving answers into request form section.
  apps/backend/app/Http/Controllers/Api/FormGroupController.php
  apps/backend/app/Http/Requests/Api/FormGroupSaveRequest.php
  apps/backend/app/Http/Resources/Api/FormGroupResource.php
  apps/backend/app/Http/Resources/FormGroupShowResource.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/FormGroup.php
  apps/backend/app/Models/FormType.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/database/migrations/2021_10_07_002434_add_form_answers_polymorphic_relationship.php
  apps/backend/database/migrations/2021_10_07_003606_add-type_id-to-forms.php
  apps/backend/database/migrations/2021_10_07_003732_create_form_types_table.php
  apps/backend/database/migrations/2021_10_07_155143_create_form_groups_table.php
  apps/backend/database/migrations/2021_10_07_155325_create_form_form_group_table.php
  apps/backend/routes/api.php
  apps/web/src/components/elements/RequestForms.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/form_groups/edit/FormListItem.jsx
  apps/web/src/pages/Admin/FormBuilder/form_groups/edit/index.jsx
  apps/web/src/pages/Home/client_services_manager.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Starting to add routes and request section flows.
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/RequestSections/RequestSectionsShowForm/index.jsx
  apps/web/src/pages/RequestSections/index.jsx
Due: web:build, web:test, web:deploy

Make sure to set columnMap and type. They both seem to be required to make the actions' column show up.
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
Due: web:build, web:test, web:deploy

Checkin
  apps/backend/app/Http/Resources/FormResource.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/FormSection.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestFormSection.php
  apps/backend/database/migrations/2021_05_09_202929_create_form_sections_table.php
  apps/backend/database/migrations/2021_05_12_004504_create_request_form_sections_table.php
  apps/backend/routes/api.php
  apps/web/src/components/FormBuilder/RenderForm/index.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/RequestSections/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Assign reviwer to request
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/ReviewerInfoForm.jsx
  apps/web/src/components/request/views/ClinicianInfoView.jsx
Due: web:build, web:test, web:deploy

add numeric user type field to user resource
  apps/backend/app/Http/Resources/UserListResource.php
  apps/backend/app/Http/Resources/UserResource.php
Due: api:build, api:test, api:deploy

finished form editing and previewing.
  apps/backend/app/Http/Controllers/Api/RequestFormController.php
  apps/backend/app/Http/Resources/FormResource.php
  apps/backend/app/Models/Request.php
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GryPhone.jsx
  apps/web/src/components/elements/SelectWithFilter/CTXSelectWithFilter.jsx
  apps/web/src/components/inputs/PhoneInput/index.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/RequestSections/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Removed debug output
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GryPhone.jsx
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
Due: web:build, web:test, web:deploy

finished form builder flows and added in request section form stuff.
  apps/backend/app/Events/RequestFormSectionSavedEvent.php
  apps/backend/app/Http/Controllers/Api/FormAnswerController.php
  apps/backend/app/Http/Controllers/Api/RequestFormController.php
  apps/backend/app/Http/Controllers/Api/RequestFormSectionController.php
  apps/backend/app/Http/Controllers/Api/RequestRequestFormSection.php
  apps/backend/app/Http/Resources/RequestFormSectionResource.php
  apps/backend/app/Jobs/CheckFormAnswersJob.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/RequestFormSection.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/app/Providers/TelescopeServiceProvider.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/app.php
  apps/backend/config/telescope.php
  apps/backend/public/vendor/telescope/app-dark.css
  apps/backend/public/vendor/telescope/app.css
  apps/backend/public/vendor/telescope/app.js
  apps/backend/public/vendor/telescope/favicon.ico
  apps/backend/public/vendor/telescope/mix-manifest.json
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/web/src/components/forms/FormLoadingSpinner.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/RequestSections/RequestSectionsShowForm/index.jsx
  apps/web/src/pages/RequestSections/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update admin edit healthplan user page
  apps/backend/app/Http/Requests/Admin/ClinicalServicesUserRequest.php
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/layouts/components/sidebar/index.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/UserList/UserEdit.jsx
  apps/web/src/pages/Admin/UserList/UserList.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Create assessment layout page
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/Input.jsx
  apps/web/src/components/assessment/Questionnaire.jsx
  apps/web/src/components/assessment/Questions.jsx
  apps/web/src/components/assessment/Sections.jsx
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Assessment.jsx
  apps/web/src/pages/Questionnaire.jsx
Due: web:build, web:test, web:deploy

fixed and added in input-groups widths
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
Due: web:build, web:test, web:deploy

initial answers with number of repeater fields shown
  apps/web/src/components/FormBuilder/RenderForm/index.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/hooks/useFormBuilder.js
Due: web:build, web:test, web:deploy

removed debug output and make sure the phone field formats the phone number before submitting the form.
  apps/web/src/Context/FormContext.js
  apps/web/src/components/inputs/PhoneInput/index.jsx
  apps/web/src/pages/Errors/401.jsx
Due: web:build, web:test, web:deploy

Command to tranfer sftp request files to s3 bucket
  apps/backend/app/Console/Commands/SftpToS3.php
  apps/backend/app/Console/Kernel.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/filesystems.php
Due: api:build, api:test, api:deploy

Added quick example using tinymce and handlebars.
  apps/web/package.json
  apps/web/src/components/elements/FancyEditor/index.jsx
  apps/web/src/fontawesome.js
  apps/web/src/helpers/string.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/NarrativeReport/index.jsx
  apps/web/src/route/PrivateRoute.js
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

Updated sample data and template
  apps/web/src/pages/Admin/NarrativeReport/index.jsx
Due: web:build, web:test, web:deploy

update form context when repeater elements are removed
  apps/web/src/components/FormBuilder/RenderForm/index.jsx
Due: web:build, web:test, web:deploy

Update job title field in the clinician edit form
  apps/web/src/components/UserEditForm/ClinicianForm.jsx
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
