Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

Fix api scheduling validation
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Requests/RescheduleRequest.php
  apps/backend/tests/Feature/AppointmentTest.php
Due: api:build, api:test, api:deploy

Activity list timeline UI
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/components/assessment/forms/ActivityForm.jsx
  apps/web/src/components/assessment/forms/TreeItem.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/components/assessment/views/styles.scss
  apps/web/src/fontawesome.js
  apps/web/src/helpers/datetime.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-334 - form builder fixed select options and added quick options populating
  apps/web/src/Context/FormContext.js
  apps/web/src/components/FormBuilder/Fields/GrySelect.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/Textarea.jsx
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

fix warnings
  apps/web/src/components/inputs/Textarea.jsx
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

GRY-331 - Added the ability to import value lists from a return-delimited list and fixed and form builder revision
  apps/backend/.phpstorm.meta.php
  apps/backend/app/Http/Controllers/Api/FormController.php
  apps/backend/app/Http/Resources/FormResource.php
  apps/backend/app/Models/Form.php
  apps/backend/routes/api.php
  apps/web/src/components/elements/ButtonWithDropdown/index.jsx
  apps/web/src/components/inputs/Textarea.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Member Info Section in the assessment page
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/MemberDetailResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Jobs/MemberUpdateJob.php
  apps/backend/app/Models/Member.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/migrations/2021_12_06_192959_change_language_field_name.php
  apps/backend/tests/Feature/MemberTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/request/MemberForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Request status to On Hold when appointment cancelled
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/app/Observers/AppointmentObserver.php
  apps/backend/app/Observers/RequestObserver.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/RequestDateTypeSeeder.php
  apps/backend/tests/Feature/ActivityNotificationTest.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Media section in the assessment page
  apps/backend/app/Http/Controllers/DocumentController.php
  apps/backend/app/Http/Requests/FileRequest.php
  apps/backend/app/Http/Resources/MediaResource.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Listeners/DocumentCreatedListener.php
  apps/backend/app/Models/Document.php
  apps/backend/database/migrations/2021_11_23_162628_add_document_media_columns.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/MediaTagSeeder.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/AssessmentTest.php
  apps/backend/tests/Feature/RequestDocumentTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/MediaForm.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/request/MemberForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update status progress bars
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Avoid seeding extraneous requests in Request Seeder
  apps/backend/database/seeds/RequestSeeder.php
Due: api:build, api:test, api:deploy

add considerations section, add request items to resource
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add activity to request
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/AddActivityForm.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

save merged file
  apps/web/src/components/assessment/AssessmentEditForm.jsx
Due: web:build, web:test, web:deploy

add considerations fields, resource and default attribute
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/Consideration.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/database/migrations/2021_05_09_194546_create_considerations_table.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add consideration resource file
  apps/backend/app/Http/Resources/ConsiderationResource.php
Due: api:build, api:test, api:deploy

add default consideration, update resources
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/RequestType.php
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update reset password form
  apps/web/src/components/user/PasswordForm.jsx
  apps/web/src/components/user/PasswordRequirements.jsx
  apps/web/src/pages/SetForgotPassword.jsx
Due: web:build, web:test, web:deploy

Manage status in schedule section
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: web:build, web:test, web:deploy

Add sort & delete to the media section
  apps/backend/app/Http/Controllers/Api/DocumentRequestController.php
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Models/Request.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/RequestDocumentTest.php
  apps/web/package.json
  apps/web/src/components/assessment/forms/MediaForm.jsx
  apps/web/src/components/assessment/forms/MediaFormRow.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
  apps/web/src/components/elements/ConfirmationModal.jsx
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add Laravel Inverse Seed Generator
  apps/backend/composer.json
  apps/backend/composer.lock
Due: api:build, api:test, api:deploy

Only parent activities in activity list
  apps/backend/app/Models/Request.php
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-334 - Fix validation not evaluating until the form object has been populated.
  .gitignore
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

removed debug output
  apps/web/src/helpers/string.js
Due: web:build, web:test, web:deploy

Fix some issues
  apps/web/src/components/assessment/forms/AppointmentScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/request/MemberForm.jsx
Due: web:build, web:test, web:deploy

Assessment Section
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Controllers/Api/RequestFormSectionController.php
  apps/backend/app/Http/Resources/AssessmentFormResource.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Http/Resources/RequestFormSectionResource.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestFormSection.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/RequestAssessmentFormTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/navigation/AppNavigation.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

clean code
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/inputs/Select/index.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
  apps/web/src/pages/NarrativeReport/Preview/index.jsx
Due: web:build, web:test, web:deploy

Update Media Section UI
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/MediaFormRow.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
Due: web:build, web:test, web:deploy

Add assessment view and form toggling
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/fontawesome.js
Due: web:build, web:test, web:deploy

Add appointment window to api data
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Models/Request.php
  apps/backend/database/seeds/RequestSeeder.php
  apps/backend/tests/Feature/AppointmentTest.php
Due: api:build, api:test, api:deploy

Add Sort pipeline for request search
  apps/backend/app/Http/SearchPipeline/BaseSearchPipeline.php
  apps/backend/app/Http/SearchPipeline/Sort.php
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/RequestSearchTest.php
Due: api:build, api:test, api:deploy

Adjust sort joins to only select request columns
  apps/backend/app/Http/SearchPipeline/BaseSearchPipeline.php
  apps/backend/app/Http/SearchPipeline/Sort.php
  apps/backend/tests/Feature/RequestSearchTest.php
Due: api:build, api:test, api:deploy

Show appointment window
  apps/backend/app/Http/Controllers/Api/AppointmentController.php
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Requests/RescheduleRequest.php
  apps/backend/app/Http/Resources/AppointmentResource.php
  apps/backend/app/Models/Appointment.php
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Adjust clinician request table
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
Due: web:build, web:test, web:deploy

update request status when assessment form started
  apps/backend/app/Http/Controllers/Api/RequestFormSectionController.php
  apps/backend/tests/Feature/RequestAssessmentFormTest.php
Due: api:build, api:test, api:deploy

add considerations form and classification controller
  apps/backend/app/Http/Controllers/Api/ClassificationController.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/routes/api.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Adjust Schedule time select population
  apps/web/src/components/assessment/forms/AppointmentScheduleForm.jsx
  apps/web/src/components/assessment/forms/RescheduleForm.jsx
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
Due: web:build, web:test, web:deploy

Use status colors in request table
  apps/web/src/components/elements/RequestInfo.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

adjust consideration form
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add considerations form
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
