Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

.gitlab-ci.yml:

default:
  image: gryphon/php-yarn:7.4
cache:
  key:
    files:
      - apps/backend/composer.lock
      - apps/web/yarn.lock
  paths:
    - apps/backend/vendor/
#    - apps/backend/node_modules/
    - apps/web/node_modules/

stages:
  - build
  - test
  - deploy
  - dast

# sast / dast jobs
include:
#  - template: Security/SAST.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

variables:
  DAST_API_SPECIFICATION: https://api-test.dme-cg.com/docs/api-docs.json
  DAST_API_HOST_OVERRIDE: api-test.dme-cg.com

api:build:
  stage: build
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # Install Composer and project dependencies.
    # Composer already installed on image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Install laravel app
    - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Environment
    - cp .env.testing .env
    # Generate an application key. Re-cache.
    - php artisan key:generate
    - php artisan config:cache
    # Run database migrations.
    - php artisan migrate
    # Passport keys
    - php artisan passport:keys

api:test:
  stage: test
  needs: ["api:build"]
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # run laravel tests
    - php artisan test
    # run frontend tests
    # if you have any task for testing frontend
    # set it in your package.json script
    # comment this out if you don't have a frontend test
    #- npm test

api:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    # gitlab does not correctly parse certificate from textarea input on their ui, so has to be base64 encoded and decoded
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    # Envoy has been added to the image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar global require laravel/envoy
    - cd apps/backend
    - ~/.composer/vendor/bin/envoy run deploy --commit="$CI_COMMIT_SHA"
  environment:
    name: staging
    url: https://api-stage.dme-cg.com

web:build:
  stage: build
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # install
    - yarn install

web:test:
  stage: test
  needs: ["web:build"]
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # test
    - yarn test --watchAll=false

web:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    # A Lambda will trigger AWS Amplify to build and deploy this
    - cd apps
    - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

add flash message component
  apps/web/src/components/flash/Flash.css
  apps/web/src/components/flash/Flash.jsx
Due: web:build, web:test, web:deploy

show error message in the request add page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

update error message in the request add page
  apps/web/package.json
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  yarn.lock
Due: web:build, web:test, web:deploy

add parent relationship to request types, populate frontend req types from request item resource
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/RequestType.php
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update switch button in verify section
  apps/web/src/components/inputs/Switch.jsx
  apps/web/src/components/inputs/Switch/index.css
  apps/web/src/components/inputs/Switch/index.jsx
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
Due: web:build, web:test, web:deploy

adjust parent ids backend, populate request items from json fe
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Added hook and added a simple example
  apps/web/src/App.js
  apps/web/src/components/flash/Flash.jsx
  apps/web/src/helpers/string.js
  apps/web/src/hooks/useToast.js
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

Added invalid member toast
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

add relative diagnoses api save and render
  apps/backend/app/Http/Resources/RelevantDiagnosesResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2021_03_31_022955_create_relevant_diagnoses_table.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove relative diagnosis on clear
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
Due: web:build, web:test, web:deploy

add tooltip to nav bar
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

add text on mobile
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

remove useHistory hook
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

add link to add member button
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

add member button
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

Start of the api side of the training documents
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Controllers/Api/TrainingDocumentsController.php
  apps/backend/app/Http/Requests/TrainingDocumentRequest.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/TrainingDocument.php
  apps/backend/app/Models/TrainingDocumentType.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/config/filesystems.php
  apps/backend/database/factories/TrainingDocumentFactory.php
  apps/backend/database/migrations/2016_06_01_000004_create_oauth_clients_table.php
  apps/backend/database/migrations/2016_06_01_000005_create_oauth_personal_access_clients_table.php
  apps/backend/database/migrations/2020_08_04_170424_create_jobs_table.php
  apps/backend/database/migrations/2020_11_20_155350_create_bouncer_tables.php
  apps/backend/database/migrations/2021_04_21_203158_create_training_document_types_table.php
  apps/backend/database/migrations/2021_04_21_203241_create_training_documents_table.php
  apps/backend/database/seeds/TrainingDocumentSeeder.php
  apps/backend/database/seeds/TrainingDocumentTypeSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/PayerTest.php
  apps/backend/tests/Feature/UserTest.php
  package.json
Due: api:build, api:test, api:deploy

GRY#198 - request lookup api interaction
  README.md
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Http/SearchPipeline/AuthNumber.php
  apps/backend/app/Http/SearchPipeline/RequestStatusId.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/app/Notifications/RequestUpdatedNotification.php
  apps/backend/app/Observers/RequestObserver.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/app/Traits/Revisionable.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/revisionable.php
  apps/backend/database/factories/Activity/ActivityFactory.php
  apps/backend/database/migrations/2013_04_09_062329_create_revisions_table.php
  apps/backend/database/migrations/2021_01_26_131150_create_activities_table.php
  apps/backend/database/migrations/2021_01_27_204801_create_activity_types_table.php
  apps/backend/tests/Feature/ActivityNotificationTest.php
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/Form.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/helpers/table.js
  apps/web/src/helpers/user.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/RequestLookup/RequestLookup.js
  package.json
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

fix testUpdateRequestItems test to insure at least one default request type detail
  apps/backend/tests/Feature/RequestAddTest.php
Due: api:build, api:test, api:deploy

use member payer in request add, adjust backend policy, seeder and tests
  apps/backend/app/Policies/PayerPolicy.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/RequestTypeSeeder.php
  apps/backend/tests/Feature/HealthPlanUserTest.php
  apps/backend/tests/Feature/PayerTest.php
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove duplication nav bar
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

Added ability for the frontend to check permissions on navigation.
  apps/backend/app/Http/Controllers/Api/Admin/MembersController.php
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Controllers/Api/Admin/UserController.php
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/PayerRequest.php
  apps/backend/app/Models/User.php
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/database/migrations/2021_04_21_203158_create_training_document_types_table.php
  apps/backend/routes/admin-api.php
  apps/backend/routes/api.php
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Test/AdminPayer/index.jsx
  apps/web/src/route/PrivateRoute.js
  apps/web/yarn.lock
  package.json
  yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

rename pivot table to request_item_details
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/database/migrations/2021_03_24_004022_create_request_item_details_table.php
  apps/backend/database/migrations/2021_04_23_210234_create_request_item_request_type_detail.php
Due: api:build, api:test, api:deploy

fix navbar error
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

new request add form validation
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/validate.js
Due: web:build, web:test, web:deploy

request add form error handling
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

New request lookup add actions column
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

Update request save job to use member update job for verification step
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Jobs/MemberUpdateJob.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/tests/Feature/RequestAddTest.php
Due: api:build, api:test, api:deploy

Two Factor Authentication Backend
  apps/backend/app/Exceptions/Handler.php
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Models/User.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/google2fa.php
  apps/backend/database/migrations/2021_05_06_161317_add_user_2fa_columns.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/LoginTest.php
Due: api:build, api:test, api:deploy

final step of request add form
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/index.jsx
  apps/web/src/pages/newRequestAddSteps/validate.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

request form verification step
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/inputs/Switch/index.jsx
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/validate.js
Due: web:build, web:test, web:deploy

update request add form content
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
Due: web:build, web:test, web:deploy

due data n/a functionaliy, time select, fix step 3 data save
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/validate.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

consider child payers in member search
  apps/backend/app/Models/Member.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

check that update data is not false in due_na check
  apps/web/src/components/elements/Stepper/index.js
Due: web:build, web:test, web:deploy

Added a few filters and sort abilities and fixed web start in the ecosystem file
  apps/backend/app/Http/Controllers/Api/Admin/MembersController.php
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Controllers/Api/Admin/UserController.php
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Controllers/Api/SectionController.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/SearchPipeline/Address.php
  apps/backend/app/Http/SearchPipeline/Name.php
  apps/backend/app/Http/SearchPipeline/Phone.php
  apps/backend/app/Http/SearchPipeline/Sort.php
  apps/backend/app/Models/Payer.php
  apps/backend/routes/web.php
  apps/backend/stubs/controller.model.api.stub
  ecosystem.config.js
Due: api:build, api:test, api:deploy

Two factor authentication via email
  apps/backend/app/Contracts/TwoFactorAuth.php
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Models/User.php
  apps/backend/app/Notifications/TwoFactorNotification.php
  apps/backend/app/Providers/TwoFactorAuthProvider.php
  apps/backend/app/Services/TwoFactorAuthApp.php
  apps/backend/app/Services/TwoFactorAuthMessage.php
  apps/backend/database/migrations/2021_05_06_161317_add_user_2fa_columns.php
  apps/backend/tests/Feature/LoginTest.php
Due: api:build, api:test, api:deploy

Added remaining changes from v1
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Models/BusinessUser.php
  apps/backend/app/Models/Language.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/app/Models/RequestTypeDetailTemplate.php
  apps/backend/database/migrations/2021_03_17_152255_create_members_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/migrations/2021_05_17_001319_create_business_users_table.php
  apps/backend/database/migrations/2021_05_17_001445_create_languages_table.php
Due: api:build, api:test, api:deploy

Added remaining changes from v1
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/BusinessUser.php
  apps/backend/app/Models/Language.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/app/Models/RequestTypeDetailTemplate.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/migrations/2021_03_17_152255_create_members_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/migrations/2021_05_17_001319_create_business_users_table.php
  apps/backend/database/migrations/2021_05_17_001445_create_languages_table.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/LanguageSeeder.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

Fix the members migration
  apps/backend/database/migrations/2021_03_17_152255_create_members_table.php
Due: api:build, api:test, api:deploy
