Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

Add login history and ua string parsing
  apps/backend/app/Events/UserLoggedIn.php
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Listeners/UserLoggedInListener.php
  apps/backend/app/Models/LoginHistory.php
  apps/backend/app/Models/User.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/database/migrations/2021_06_03_182153_create_login_histories_table.php
  apps/backend/tests/Feature/LoginTest.php
Due: api:build, api:test, api:deploy

Add Therapy Networks Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabTherapyNetworks.jsx
Due: web:build, web:test, web:deploy

add Reviewers Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabReviewers.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

add Assoc Companies Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabAssocCompanies.jsx
Due: web:build, web:test, web:deploy

add Geographic Filters
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabGeographicFilters.jsx
Due: web:build, web:test, web:deploy

Add Reports Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabBilling.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabReports.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

add Templates Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabTemplates.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

add Notes Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNotes.jsx
Due: web:build, web:test, web:deploy

add Misc Tab
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabMisc.jsx
Due: web:build, web:test, web:deploy

Update date inputs specified by range
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/hooks/useSearch.js
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: web:build, web:test, web:deploy

Add daterange to searchobj so it will populate redux store on submit
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: web:build, web:test, web:deploy

Include address/phone payer seeder
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/database/seeds/TestPayerSeeder.php
  apps/web/src/pages/Admin/Companies/Companies.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Company Add Page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

Add admin api for creating company contacts
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/Admin/CompanyContactRequest.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Traits/Contactable.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/CompanyContactsTest.php
Due: api:build, api:test, api:deploy

add actions to company table
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Companies/Companies.jsx
Due: web:build, web:test, web:deploy

fix bug in add member page
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Update company information handling
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Requests/Admin/CompanyRequest.php
  apps/backend/app/Http/Requests/Admin/PayerRequest.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Listeners/PayerCreatedListener.php
  apps/backend/app/Models/MemberNumberType.php
  apps/backend/app/Models/Payer.php
  apps/backend/config/browser-detect.php
  apps/backend/database/migrations/2021_02_17_010158_create_payers_table.php
  apps/backend/database/migrations/2021_06_17_182936_create_member_number_type_payer_table.php
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
Due: api:build, api:test, api:deploy

connect api in the company detail page
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
Due: web:build, web:test, web:deploy

Update existing contacts api
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Requests/Admin/EmailRequest.php
  apps/backend/app/Http/Requests/Admin/PhoneRequest.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Email.php
  apps/backend/database/factories/EmailFactory.php
  apps/backend/database/migrations/2021_03_23_165629_create_emails_table.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/CompanyContactsTest.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
Due: api:build, api:test, api:deploy

Add company contacts in the company info tab
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

update contact request validation
  apps/backend/app/Http/Requests/Admin/CompanyContactRequest.php
Due: api:build, api:test, api:deploy

populate contact list from api
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
Due: web:build, web:test, web:deploy

Add contact type to email and phone resources
  apps/backend/app/Http/Resources/EmailResource.php
  apps/backend/app/Http/Resources/PhoneResource.php
  apps/backend/database/factories/EmailFactory.php
  apps/backend/database/factories/PhoneFactory.php
Due: api:build, api:test, api:deploy

Connect company info form to api
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

delete payer contacts, phone and email
  apps/backend/app/Exceptions/Handler.php
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
Due: api:build, api:test, api:deploy

Fix company form interaction
  apps/backend/app/Http/Controllers/Api/Admin/CompanyController.php
  apps/web/package.json
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Handle add address to payer
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Requests/Admin/AddressRequest.php
  apps/backend/app/Http/Resources/AddressResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Address.php
  apps/backend/app/Models/AddressType.php
  apps/backend/database/migrations/2021_01_23_155129_create_addresses_table.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/CompanyContactsTest.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
Due: api:build, api:test, api:deploy

Editing company contact
  apps/backend/app/Http/Resources/EmailContactResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/PhoneContactResource.php
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Admin endpoint for clinical user search
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Http/Resources/UserType/ClinicalServicesUserResource.php
  apps/backend/app/Models/ClinicalUser.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/database/factories/UserType/ClinicalServicesUserFactory.php
  apps/backend/database/migrations/2021_05_09_192425_create_clinical_users_table.php
  apps/backend/database/migrations/2021_05_09_193336_create_clinical_user_types_table.php
  apps/backend/database/migrations/2021_05_09_193504_create_clinical_user_statuses_table.php
  apps/backend/database/seeds/ClinicalServicesUserSeeder.php
  apps/backend/database/seeds/ClinicalTypeSeeder.php
  apps/backend/database/seeds/ClinicalUserRelatedSeeder.php
  apps/backend/database/seeds/ClinicalUserStatusSeeder.php
  apps/backend/database/seeds/ClinicalUserTypeSeeder.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

add endpoint to retrieve clinical user status and type options
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Http/Resources/UserType/ClinicalServicesUserResource.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

Add delete contact action
  apps/web/src/components/elements/ConfirmationModal.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
Due: web:build, web:test, web:deploy

payer address update and delete
  apps/backend/app/Http/Controllers/Api/Admin/PayerController.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
Due: api:build, api:test, api:deploy

Add clinicians page
  apps/web/public/images/icons/first-aid-kit.png
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Clinicians.jsx
Due: web:build, web:test, web:deploy

Add adding address action
  apps/backend/app/Http/Controllers/Api/Admin/CompanyController.php
  apps/backend/tests/Feature/Admin/CompanyCategoryTest.php
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Connect api to clinician index page table
  apps/web/src/pages/Admin/Clinicians.jsx
Due: web:build, web:test, web:deploy

add id to address resource
  apps/backend/app/Http/Resources/AddressResource.php
Due: api:build, api:test, api:deploy

Clinical user creation api
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Http/Requests/Admin/ClinicalServicesUserRequest.php
  apps/backend/app/Jobs/Admin/CreateUserJob.php
  apps/backend/database/factories/ClinicalServicesUserFactory.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

api to update clinician account
  apps/backend/app/Http/Controllers/Api/ClinicalServicesUserController.php
  apps/backend/app/Http/Requests/ClinicalServicesUserRequest.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Http/Resources/UserType/ClinicalServicesUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

Add update / remove address action
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
Due: web:build, web:test, web:deploy

Add clinicians add page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
  apps/web/src/pages/Admin/Clinicians/Clinicians.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
