Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

.gitlab-ci.yml:

default:
  image: gryphon/php-yarn:7.4
cache:
  key:
    files:
      - apps/backend/composer.lock
      - apps/web/yarn.lock
  paths:
    - apps/backend/vendor/
#    - apps/backend/node_modules/
    - apps/web/node_modules/

stages:
  - build
  - test
  - deploy
  - dast

# sast / dast jobs
include:
#  - template: Security/SAST.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

variables:
  DAST_API_SPECIFICATION: https://api-test.dme-cg.com/docs/api-docs.json
  DAST_API_HOST_OVERRIDE: api-test.dme-cg.com

api:build:
  stage: build
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # Install Composer and project dependencies.
    # Composer already installed on image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Install laravel app
    - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Environment
    - cp .env.testing .env
    # Generate an application key. Re-cache.
    - php artisan key:generate
    - php artisan config:cache
    # Run database migrations.
    - php artisan migrate
    # Passport keys
    - php artisan passport:keys

api:test:
  stage: test
  needs: ["api:build"]
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # run laravel tests
    - php artisan test
    # run frontend tests
    # if you have any task for testing frontend
    # set it in your package.json script
    # comment this out if you don't have a frontend test
    #- npm test

api:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    # gitlab does not correctly parse certificate from textarea input on their ui, so has to be base64 encoded and decoded
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    # Envoy has been added to the image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar global require laravel/envoy
    - cd apps/backend
    - ~/.composer/vendor/bin/envoy run deploy --commit="$CI_COMMIT_SHA"
  environment:
    name: staging
    url: https://api-stage.dme-cg.com

web:build:
  stage: build
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # install
    - yarn install

web:test:
  stage: test
  needs: ["web:build"]
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # test
    - yarn test --watchAll=false

web:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    # A Lambda will trigger AWS Amplify to build and deploy this
    - cd apps
    - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

update login tests
  apps/backend/tests/Feature/LoginTest.php
  apps/backend/tests/Feature/SsoLoginTest.php
Due: api:build, api:test, api:deploy

add member number update, test for member history creation
  apps/backend/database/migrations/2021_03_19_171425_create_member_payer_histories_table.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

Update Lob and relationship to Payers and Members
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/LobResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Jobs/MemberUpdateJob.php
  apps/backend/app/Models/LobPayer.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Payer.php
  apps/backend/database/factories/LobFactory.php
  apps/backend/database/migrations/2021_03_29_202745_create_lobs_table.php
  apps/backend/database/migrations/2021_03_29_210030_create_lob_payer_table.php
  apps/backend/database/migrations/2021_03_30_133633_member_change_lob.php
  apps/backend/tests/Feature/MemberTest.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

add relationship and resource for payer member number types
  apps/backend/app/Events/PayerCreated.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Listeners/PayerCreatedListener.php
  apps/backend/app/Models/MemberNumberType.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/PayerMemberNumberType.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/database/migrations/2021_03_22_210006_create_member_number_types_table.php
  apps/backend/database/migrations/2021_03_22_210459_create_payer_member_number_types_table.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

Added proper due date validation, and special notes on the request page, and make sure auth_number is unique
  apps/backend/app/Http/Controllers/Api/ValueListController.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/database/migrations/2021_03_19_172001_add-columns-to-requests-from-planning.php
Due: api:build, api:test, api:deploy

add missing resource
  apps/backend/app/Http/Resources/PayerMemberNumberResource.php
Due: api:build, api:test, api:deploy

Fix lob relation in Payer seeder, add seeder unit test
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/tests/Unit/SeederTest.php
Due: api:build, api:test, api:deploy

update Member factory to add payer lob
  apps/backend/database/factories/MemberFactory.php
Due: api:build, api:test, api:deploy

change member_id_type to member_number_type
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Jobs/MemberPayerHistoryAddJob.php
  apps/backend/app/Models/Member.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/migrations/2021_03_19_171425_create_member_payer_histories_table.php
  apps/backend/database/migrations/2021_03_25_220649_member_add_fields.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

First pass in adding request types and saving them to the database.
  apps/backend/app/Http/Controllers/Api/MemberRequestController.php
  apps/backend/app/Http/Controllers/Api/RegisterController.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Controllers/Api/RequestRequestItemController.php
  apps/backend/app/Http/Controllers/Api/RequestTypesController.php
  apps/backend/app/Http/Controllers/Api/ValueListController.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/RequestItemDetailResource.php
  apps/backend/app/Http/Resources/RequestRequestItemResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestItemDetail.php
  apps/backend/app/Models/RequestType.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/factories/RequestItemFactory.php
  apps/backend/database/factories/RequestTypeDetailFactory.php
  apps/backend/database/migrations/2020_12_28_130825_create_requests_table.php
  apps/backend/database/migrations/2021_03_19_172001_add-columns-to-requests-from-planning.php
  apps/backend/database/migrations/2021_03_19_172225_create_request_types_table.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/migrations/2021_04_13_125409_requests_add_member_verified.php
  apps/backend/database/seeds/RequestItemSeeder.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/MemberRequestTest.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/backend/tests/Feature/RequestItemTest.php
Due: api:build, api:test, api:deploy

do not run entities migration in eag
  apps/backend/database/migrations/2021_03_19_210852_create_entities_table.php
Due: api:build, api:test, api:deploy

Check if withTrashed exists when updating entities
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
Due: api:build, api:test, api:deploy

refixed a merge issue catch
  apps/backend/app/Http/Resources/MemberResource.php
Due: api:build, api:test, api:deploy

added php-cs
  apps/backend/composer.json
  apps/backend/composer.lock
Due: api:build, api:test, api:deploy

Api connection to the request form add page
  apps/backend/app/Http/Resources/PhoneResource.php
  apps/backend/app/Models/Phone.php
  apps/backend/database/migrations/2020_07_17_130553_create_phones_table.php
  apps/web/src/__tests__/TableApi.js
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/modal/Modal.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps2.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

fix api issue frequently
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/modal/Modal.jsx
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
Due: web:build, web:test, web:deploy

destructuring is a safe way to prevent undefined errors. And If you pass in...
  apps/backend/app/Http/Resources/MemberResource.php
  apps/web/src/__tests__/TableApi.js
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update due section
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
Due: web:build, web:test, web:deploy

Working ever expanding dynamic list example code
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: web:build, web:test, web:deploy

update member creation form in add member page
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

updated snapshot
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
Due: web:build, web:test, web:deploy

fix the label
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

adjust relevant diagnosis frontend, add autocomplete search
  apps/backend/routes/api.php
  apps/web/package.json
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAdd/newRequestAdd.css
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

API lookup for ICD-10 code backend
  apps/backend/app/Http/Controllers/Api/Icd10CodeController.php
  apps/backend/app/Http/Requests/Icd10CodeRequest.php
  apps/backend/app/Providers/Icd10CodeServiceProvider.php
  apps/backend/app/Services/Icd10CodeApiClient.php
  apps/backend/tests/Feature/Icd10CodeTest.php
Due: api:build, api:test, api:deploy

change icd-10 lookup to get request, adjust in-progress stat on frontend
  apps/backend/routes/api.php
  apps/backend/tests/Feature/Icd10CodeTest.php
  apps/web/src/components/elements/RequesInfo.jsx
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

request lookup page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

add request items frontend and api relation to details and payer
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/RequestTypeResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestType.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/database/factories/RequestTypeDetailFactory.php
  apps/backend/database/factories/RequestTypeFactory.php
  apps/backend/database/migrations/2021_03_19_172225_create_request_types_table.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/MemberSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/PayerTest.php
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update table interaction
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/pages/Test/Table/index.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/healthplan/SearchMemberAutocomplete.jsx
Due: web:build, web:test, web:deploy

clean up frontend code for step 4
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: web:build, web:test, web:deploy

upload document in due section
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/helpers/validate.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
Due: web:build, web:test, web:deploy

Update documents make polymorphic
  apps/aws/pkgs/ServerlessBuild/.babelrc
  apps/aws/pkgs/ServerlessBuild/index.js
  apps/aws/pkgs/ServerlessBuild/package.json
  apps/aws/pkgs/ServerlessBuild/serverless.yml
  apps/aws/pkgs/ServerlessBuild/webpack.config.js
  apps/aws/pkgs/ServerlessBuild/yarn.lock
  apps/aws/projects/SampleService/SampleLambda/.gitignore
  apps/aws/projects/SampleService/SampleLambda/package.json
  apps/aws/projects/SampleService/SampleLambda/serverless.yml
  apps/aws/projects/SampleService/SampleLambda/src/index.js
  apps/aws/projects/SampleService/SampleLambda/tests/events/defaultEvent.json
  apps/aws/projects/SampleService/SampleLambda/tests/handler.js
  apps/aws/projects/SampleService/SampleLambda/webpack.config.js
  apps/aws/projects/SampleService/SampleLambda/yarn-error.log
  apps/aws/projects/SampleService/SampleLambda/yarn.lock
  apps/backend/app/Http/Controllers/Api/DocumentRequestController.php
  apps/backend/app/Http/Requests/FileRequest.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2021_03_24_005515_create_documents_table.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/RequestDocumentTest.php
  lerna.json
  package.json
  yarn.lock
Due: api:build, api:test, api:deploy

update nav bar
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

relationships for request items, types and details, updating request items api
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Http/Resources/RequestTypeDetailResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/database/factories/RequestItemFactory.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/migrations/2021_04_23_210234_create_request_item_request_type_detail.php
  apps/backend/database/seeds/RequestTypeSeeder.php
  apps/backend/tests/Feature/RequestAddTest.php
Due: api:build, api:test, api:deploy

add hasmany sync, remove deprecated request items test
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Providers/MacroServiceProvider.php
  apps/backend/config/app.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/backend/tests/Feature/RequestItemTest.php
Due: api:build, api:test, api:deploy

save frontend request items, pass request data to step 4
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update min yarn and node deps
  package.json
Due: none

update flash component
  apps/web/src/components/flash/Flash.css
  apps/web/src/components/flash/Flash.jsx
Due: web:build, web:test, web:deploy

change some logic
  apps/web/src/components/flash/Flash.jsx
Due: web:build, web:test, web:deploy
