Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

.gitlab-ci.yml:

default:
  image: gryphon/php-yarn:7.4
cache:
  key:
    files:
      - apps/backend/composer.lock
      - apps/web/yarn.lock
  paths:
    - apps/backend/vendor/
#    - apps/backend/node_modules/
    - apps/web/node_modules/

stages:
  - build
  - test
  - deploy
  - dast

# sast / dast jobs
include:
#  - template: Security/SAST.gitlab-ci.yml
  - template: DAST.gitlab-ci.yml

variables:
  DAST_API_SPECIFICATION: https://api-test.dme-cg.com/docs/api-docs.json
  DAST_API_HOST_OVERRIDE: api-test.dme-cg.com

api:build:
  stage: build
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # Install Composer and project dependencies.
    # Composer already installed on image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Install laravel app
    - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    # Environment
    - cp .env.testing .env
    # Generate an application key. Re-cache.
    - php artisan key:generate
    - php artisan config:cache
    # Run database migrations.
    - php artisan migrate
    # Passport keys
    - php artisan passport:keys

api:test:
  stage: test
  needs: ["api:build"]
  only:
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/backend
    # run laravel tests
    - php artisan test
    # run frontend tests
    # if you have any task for testing frontend
    # set it in your package.json script
    # comment this out if you don't have a frontend test
    #- npm test

api:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/backend/**/*"
      - ".gitlab-ci.yml"
  script:
    # gitlab does not correctly parse certificate from textarea input on their ui, so has to be base64 encoded and decoded
    - "which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )"
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
    - mkdir -p ~/.ssh
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
    # Envoy has been added to the image
    # - curl -sS https://getcomposer.org/installer | php
    # - php composer.phar global require laravel/envoy
    - cd apps/backend
    - ~/.composer/vendor/bin/envoy run deploy --commit="$CI_COMMIT_SHA"
  environment:
    name: staging
    url: https://api-stage.dme-cg.com

web:build:
  stage: build
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # install
    - yarn install

web:test:
  stage: test
  needs: ["web:build"]
  only:
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    - cd apps/web
    # test
    - yarn test --watchAll=false

web:deploy:
  stage: deploy
  # only for develop branch deploy to staging
  only:
    refs:
      - develop
    changes:
      - "apps/web/**/*"
      - ".gitlab-ci.yml"
  script:
    # A Lambda will trigger AWS Amplify to build and deploy this
    - cd apps
    - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

Add member seeder file
  apps/backend/database/seeds/MemberSeeder.php
Due: api:build, api:test, api:deploy

EAG#3-2 - populate the entities table after migrations are ran
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
  apps/backend/app/Models/Entity.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/database/migrations/2021_02_08_180522_add_domain_bouncer_roles.php
  apps/backend/database/migrations/2021_03_19_210852_create_entities_table.php
  apps/backend/routes/web.php
Due: api:build, api:test, api:deploy

EAG#3-2 - generate table column name dynamically and collect if column nullable a reliable way.
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
Due: api:build, api:test, api:deploy

implement search field with debounce
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

clone SearchMemberAutocomplete.jsx and fix mini errors
  apps/web/src/pages/healthplan/SearchMemberAutocomplete.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

add test endpoint form member id types, remove console log from event
  apps/backend/app/Http/Controllers/Api/PlanController.php
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

Search member page
  apps/web/src/components/elements/TableTop/index.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

add Member ID Type to addMember page
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Set up member search api
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberLookupRequest.php
  apps/backend/app/Http/SearchPipeline/Dob.php
  apps/backend/app/Http/SearchPipeline/FirstName.php
  apps/backend/app/Http/SearchPipeline/LastName.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Policies/MemberPolicy.php
  apps/backend/database/migrations/2021_03_24_122144_add_members_payer.php
  apps/backend/tests/Feature/HealthPlanUserTest.php
  apps/backend/tests/Feature/MemberTest.php
  apps/backend/tests/Feature/UserSearchTest.php
Due: api:build, api:test, api:deploy

add payer to member seeder and resource, use snake for search pipline params instead of kebab
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/SearchPipeline/BaseSearchPipeline.php
  apps/backend/app/Http/SearchPipeline/FirstName.php
  apps/backend/app/Http/SearchPipeline/LastName.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Payer.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/seeds/MemberSeeder.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

update member policy
  apps/backend/app/Policies/MemberPolicy.php
Due: api:build, api:test, api:deploy

format contact data for backend
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Member search page
  apps/backend/app/Http/Requests/MemberLookupRequest.php
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

store user api
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Models/Address.php
  apps/backend/app/Models/Member.php
  apps/backend/database/factories/AddressFactory.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/migrations/2021_03_25_121628_change_members_member_id.php
  apps/backend/database/migrations/2021_03_25_210835_address_change_street.php
  apps/backend/database/migrations/2021_03_25_220649_member_add_fields.php
  apps/backend/database/seeds/MemberSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/MemberTest.php
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

check policy for member search in middleware
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Models/Member.php
  apps/backend/routes/api.php
Due: api:build, api:test, api:deploy

adjust button class name
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Add contact type to phone and email
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Resources/AddressResource.php
  apps/backend/app/Http/Resources/EmailResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Models/Email.php
  apps/backend/app/Models/Member.php
  apps/backend/database/migrations/2021_03_27_150411_add_emails_contact_type.php
  apps/backend/database/migrations/2021_03_27_150423_add_phones_contact_type.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

connect api to the new request add form page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

move error message above the submission button
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

fixed bugs
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Lobs and relationships to member and payer
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/LobResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Lob.php
  apps/backend/app/Models/LobPayer.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Payer.php
  apps/backend/database/factories/LobFactory.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/migrations/2021_03_29_202745_create_lobs_table.php
  apps/backend/database/migrations/2021_03_29_210030_create_lob_payer_table.php
  apps/backend/database/migrations/2021_03_30_133633_member_change_lob.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/MemberTest.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

add payer profile route
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

push up the published stubs
  apps/backend/app/Http/Controllers/Api/MemberRequestController.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Controllers/Api/RequestRequestItemController.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/AddressResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Http/SearchPipeline/Dob.php
  apps/backend/app/Http/SearchPipeline/FirstName.php
  apps/backend/app/Http/SearchPipeline/LastName.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Listeners/DatabaseRefreshedListener.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Activity/ActivityType.php
  apps/backend/app/Models/Address.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/RelevantDiagnoses.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/config/passport.php
  apps/backend/database/factories/Activity/ActivityTypeFactory.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/migrations/2021_01_26_131150_create_activities_table.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_03_24_004022_create_request_item_details_table.php
  apps/backend/database/migrations/2021_03_25_210835_address_change_street.php
  apps/backend/database/migrations/2021_03_25_220649_member_add_fields.php
  apps/backend/database/migrations/2021_03_29_153350_update_request_fields.php
  apps/backend/database/migrations/2021_03_31_022955_create_relevant_diagnoses_table.php
  apps/backend/routes/api.php
  apps/backend/stubs/test.stub
  apps/backend/tests/Feature/MemberRequestTest.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/backend/tests/Feature/RequestTest.php
  apps/backend/tests/Feature/SsoLoginTest.php
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add child record relationship for Payer model
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Payer.php
  apps/backend/database/migrations/2021_03_31_112120_payers_add_parent_id.php
  apps/backend/database/seeds/PayerSeeder.php
  apps/backend/tests/Feature/PayerTest.php
Due: api:build, api:test, api:deploy

New request add form
  apps/web/src/App.js
  apps/web/src/components/elements/FormButtons.jsx
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/elements/Stepper/stepper.css
  apps/web/src/components/inputs/Switch.jsx
  apps/web/src/components/modal/Modal.css
  apps/web/src/components/modal/Modal.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/SearchMember.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/pages/newRequestAdd/newRequestAdd.css
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps2.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/newRequestAddSteps.css
Due: web:build, web:test, web:deploy

replace lobs and plans endpoint
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/tests/Feature/MemberTest.php
  apps/web/src/components/inputs/Switch.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Frontend Role Check Middleware
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/app/Policies/PayerPolicy.php
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/helpers/user.js
  apps/web/src/route/PrivateRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add Member Payer History
  apps/backend/app/Events/MemberCreated.php
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Jobs/MemberPayerHistoryAddJob.php
  apps/backend/app/Listeners/MemberCreatedListener.php
  apps/backend/app/Models/Lob.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/MemberPayerHistory.php
  apps/backend/app/Policies/MemberPolicy.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/database/migrations/2021_03_19_171425_create_member_payer_histories_table.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

Document test and flow, related factories, and request flow notes in the api request controller
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Controllers/Api/PayerController.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Controllers/DocumentController.php
  apps/backend/app/Http/Requests/FileRequest.php
  apps/backend/app/Http/Resources/DocumentResource.php
  apps/backend/app/Http/Resources/RequestTypeResource.php
  apps/backend/app/Models/Document.php
  apps/backend/app/Models/User.php
  apps/backend/config/filesystems.php
  apps/backend/database/factories/RequestItemFactory.php
  apps/backend/database/factories/RequestTypeFactory.php
  apps/backend/database/migrations/2021_03_24_005515_create_documents_table.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/HealthPlanUserTest.php
  apps/backend/tests/Feature/RequestDocumentTest.php
Due: api:build, api:test, api:deploy

Push entities to the new EAG table
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
  apps/backend/app/Models/Entity.php
  apps/backend/config/database.php
Due: api:build, api:test, api:deploy

update entities migration
  apps/backend/config/database.php
  apps/backend/database/migrations/2021_03_19_210852_create_entities_table.php
Due: api:build, api:test, api:deploy

upload document in newrequestadd page
  apps/web/src/components/elements/Stepper/index.js
  apps/web/src/components/inputs/Checkbox.jsx
  apps/web/src/components/modal/Modal.jsx
  apps/web/src/layouts/Admin/layoutAdmin.scss
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps1.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps3.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/src/pages/newRequestAddSteps/newRequestAddSteps.css
Due: web:build, web:test, web:deploy

only handle entities listner in non-testing environments
  apps/backend/.env.testing
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
Due: api:build, api:test, api:deploy

First pass in adding request types and saving them to the database.
  apps/backend/app/Http/Controllers/Api/RegisterController.php
  apps/backend/app/Http/Controllers/Api/RequestRequestItemController.php
  apps/backend/app/Http/Controllers/Api/RequestTypesController.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/RequestItemDetailResource.php
  apps/backend/app/Http/Resources/RequestRequestItemResource.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestItemDetail.php
  apps/backend/app/Models/RequestType.php
  apps/backend/app/Models/RequestTypeDetail.php
  apps/backend/database/migrations/2021_03_19_172225_create_request_types_table.php
  apps/backend/database/migrations/2021_03_24_003151_create_request_items_table.php
  apps/backend/database/migrations/2021_04_07_012749_create_request_type_details_table.php
  apps/backend/database/seeds/RequestItemSeeder.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
Due: api:build, api:test, api:deploy

Track if an entity was removed.
  apps/backend/app/Listeners/TrackDatabaseChangeListener.php
  apps/backend/app/Models/Entity.php
  apps/backend/database/migrations/2021_03_19_210852_create_entities_table.php
Due: api:build, api:test, api:deploy

GRY218-4 dashboard summary stats and test
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserType/HealthPlanUser.php
  apps/backend/database/seeds/HealthPlanUserSeeder.php
  apps/backend/tests/Feature/RequestTest.php
Due: api:build, api:test, api:deploy

add member update job
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Requests/MemberRequest.php
  apps/backend/app/Jobs/MemberUpdateJob.php
  apps/backend/app/Models/Member.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

updated stats to account for reopened and received as a new request
  apps/backend/app/Http/Controllers/Api/RequestController.php
Due: api:build, api:test, api:deploy

I misunderstood where data was being stored and that request items was its own section of data. I've made all the updates necessary to make sure all the data stores in the correct places.
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Controllers/Api/RequestRequestItemController.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/RequestItem.php
  apps/backend/app/Models/RequestItemDetail.php
  apps/backend/database/factories/RequestItemFactory.php
  apps/backend/database/factories/RequestTypeDetailFactory.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/backend/tests/Feature/RequestItemTest.php
Due: api:build, api:test, api:deploy
