Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

Added critical factors and the form section to the response
  apps/backend/app/Http/Resources/AssessmentSectionResource.php
  apps/backend/app/Http/Resources/CriticalFactorsResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestFormSection.php
  apps/web/src/hooks/useApiCall.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Added critical factors and the form section to the response
  apps/backend/app/Http/Resources/RequestFormSectionResource.php
Due: api:build, api:test, api:deploy

Added critical factors and the form section to the response
  apps/backend/app/Http/Resources/RequestResource.php
Due: api:build, api:test, api:deploy

Build out the form structure a better way.
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/RequestResource.php
Due: api:build, api:test, api:deploy

Fixed critical factors, repeater groups, and forms
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/RequestResource.php
Due: api:build, api:test, api:deploy

Add assessment validation
  apps/backend/app/Jobs/SubmitAssessmentJob.php
  apps/web/src/Context/AssessmentContext.js
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Remove check for submit button, increase throttle
  apps/backend/app/Http/Kernel.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Query users that have role for clinical users instead of primary role
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
  apps/backend/tests/Feature/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

Introduce the sanitation station
  apps/backend/app/Services/ReportBuilderService.php
  apps/backend/app/Traits/SanitationStation.php
Due: api:build, api:test, api:deploy

Add assessment submitted notification
  apps/backend/app/Jobs/SubmitAssessmentJob.php
  apps/backend/app/Notifications/SubmittedNotification.php
Due: api:build, api:test, api:deploy

remove action column from request table
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/elements/RequestsTable.jsx
Due: web:build, web:test, web:deploy

Renamed sanitation station to Sanistation
  apps/aws/projects/TemplateBuilderLambda/src/helpers/string.js
  apps/backend/app/Services/ReportBuilderService.php
  apps/backend/app/Traits/Sanistation.php
  apps/web/src/helpers/string.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Make narrative_reports text field longText instead of varchar so it can house the full modified template
  apps/backend/database/migrations/2022_02_01_200340_template-field-larger-on-edited-report.php
Due: api:build, api:test, api:deploy

reply to activities
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/app/Http/Requests/ActivityRequest.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/components/assessment/forms/ActivityForm.jsx
  apps/web/src/components/assessment/forms/AddActivityForm.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/fontawesome.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add data for notification reply
  apps/backend/app/Http/Controllers/Api/NotificationsController.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/web/src/Context/GlobalContext.js
  apps/web/src/pages/NotificationListForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add confirmation modal to the schedule member form
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/pages/NotificationListForm.jsx
Due: web:build, web:test, web:deploy

Add verification for auth number
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

update expansion icon
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/fontawesome.js
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
