Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

Created new date, datetime, and time inputs for the form builder
  apps/web/src/components/FormBuilder/Fields/GryCheckbox.jsx
  apps/web/src/components/FormBuilder/Fields/GryCheckboxGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryDate.jsx
  apps/web/src/components/FormBuilder/Fields/GryDateTime.jsx
  apps/web/src/components/FormBuilder/Fields/GryInputGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryInputGroupRepeater.jsx
  apps/web/src/components/FormBuilder/Fields/GryNumberInput.jsx
  apps/web/src/components/FormBuilder/Fields/GryPhone.jsx
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryRowSpace.jsx
  apps/web/src/components/FormBuilder/Fields/GrySelect.jsx
  apps/web/src/components/FormBuilder/Fields/GryText.jsx
  apps/web/src/components/FormBuilder/Fields/GryTextarea.jsx
  apps/web/src/components/FormBuilder/Fields/GryTime.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
Due: web:build, web:test, web:deploy

GRY-000 - added rough code to finish the flow of the narrative report
  apps/backend/app/Http/Controllers/Api/DocumentController.php
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Models/NarrativeReport.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/SubmitButton/index.jsx
  apps/web/src/pages/NarrativeReport/Preview/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

reviewer manger dashboard
  apps/backend/database/seeds/UserSeeder.php
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/helpers/string.js
  apps/web/src/pages/Home/reviewer_manager.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-000 - set the font save path for the FontChecker.php code
  apps/backend/app/Services/FontChecker.php
  apps/backend/public/fonts/.gitignore
Due: api:build, api:test, api:deploy

Request entry - select classification in Request Info section
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Link fonts folder in envoy deployment
  apps/backend/.gitignore
  apps/backend/Envoy.blade.php
  apps/backend/public/fonts/.gitignore
Due: api:build, api:test, api:deploy

initial search in dashboard page
  apps/backend/app/Http/SearchPipeline/Sort.php
  apps/backend/app/Models/Request.php
  apps/web/src/components/elements/RequestsTable.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-000 - save test-json narrative report template stuff to the database and re-use it when viewing if need.
  apps/aws/projects/TemplateBuilderLambda/src/helpers/string.js
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Http/Requests/NarrativeReportTemplateRequest.php
  apps/backend/app/Http/Resources/NarrativeReportTemplateResource.php
  apps/backend/app/Models/NarrativeReportTemplate.php
  apps/backend/database/migrations/2022_01_25_005840_add-narrative-report-test_json.php
  apps/backend/routes/api.php
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/helpers/string.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/NarrativeReportEditorForm.jsx
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add type to notification data for frontend icon mapping
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/app/Http/Resources/NotificationResource.php
  apps/backend/app/Notifications/AssignedNotification.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/database/seeds/ActivityTypeSeeder.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/fontawesome.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add bulk deletion
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/pages/NotificationList.jsx
  apps/web/src/pages/NotificationListForm.jsx
Due: web:build, web:test, web:deploy

Added test json storage and some more fields returned from the request resource
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Http/Resources/MemberDetailResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/routes/api.php
  apps/web/src/pages/NarrativeReport/Preview/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Registered more fields for the request object
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/Consideration.php
Due: api:build, api:test, api:deploy

Adjust considerations assessment section
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Requests/ConsiderationRequest.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/tests/Feature/ConsiderationRequestTest.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
  apps/web/src/layouts/PageLayout.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-000 - save test-json narrative report template stuff to the database and re-use it when viewing if need.
  apps/aws/projects/TemplateBuilderLambda/src/helpers/string.js
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Http/Requests/NarrativeReportTemplateRequest.php
  apps/backend/app/Http/Resources/ConsiderationResource.php
  apps/backend/app/Http/Resources/MemberDetailResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Http/Resources/NarrativeReportTemplateResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Models/Consideration.php
  apps/backend/app/Models/Member.php
  apps/backend/app/Models/NarrativeReportTemplate.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2022_01_25_005840_add-narrative-report-test_json.php
  apps/backend/routes/api.php
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/helpers/string.js
  apps/web/src/pages/Admin/NarrativeReport/Edit/NarrativeReportEditorForm.jsx
  apps/web/src/pages/Admin/NarrativeReport/Edit/index.jsx
  apps/web/src/pages/NarrativeReport/Preview/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Removed default value in the migration.
  apps/backend/database/migrations/2022_01_25_005840_add-narrative-report-test_json.php
Due: api:build, api:test, api:deploy

Make sure to validation and shouldShow rules are validated correctly
  apps/web/src/Context/FormContext.js
  apps/web/src/hooks/useFormBuilder.js
Due: web:build, web:test, web:deploy

Make sure to validation and shouldShow rules are validated correctly
  apps/backend/README.md
  apps/web/src/Context/FormContext.js
  apps/web/src/hooks/useFormBuilder.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Populate classification on initial entry for request item form
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/web/src/components/assessment/forms/ConsiderationsForm.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

First pass of the assessment section metadata.
  apps/web/src/Context/AssessmentContext.js
  apps/web/src/components/FormBuilder/context/FormBuilderFieldContext.js
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/assessment/views/AssessmentSectionStatus.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/pages/Assessment/Assessment.jsx
Due: web:build, web:test, web:deploy

Add import/export assessment command
  apps/backend/app/Console/Commands/ExportAssessment.php
  apps/backend/app/Console/Commands/ImportAssessment.php
  apps/backend/app/Models/Form.php
Due: api:build, api:test, api:deploy

add icons according to the type
  apps/web/src/Context/FormContext.js
  apps/web/src/components/assessment/forms/ActivityForm.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
  apps/web/src/helpers/iconophy.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/Admin/NarrativeReport/Edit/NarrativeReportEditorForm.jsx
  apps/web/src/pages/NotificationListForm.jsx
Due: web:build, web:test, web:deploy

Change font color and icon depending on form section status and position icon better
  apps/web/src/components/assessment/views/AssessmentSectionHeader.jsx
  apps/web/src/components/assessment/views/AssessmentSectionStatus.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
Due: web:build, web:test, web:deploy

Check consideration if it is completed
  apps/web/src/components/assessment/views/ConsiderationView.jsx
Due: web:build, web:test, web:deploy

Misc updates and fixes
  apps/web/src/Context/FormContext.js
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/assessment/views/AssessmentSectionHeader.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
Due: web:build, web:test, web:deploy

implemented the new form builder view form flow to fix validation, autofill, and show functionality
  apps/web/src/Context/FormContext.js
  apps/web/src/components/assessment/ShowFormSection.jsx
Due: web:build, web:test, web:deploy

format phone number and display loading on the whole page
  apps/web/src/components/DisplayPhone/index.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/pages/Assessment/Assessment.jsx
Due: web:build, web:test, web:deploy

Finish request submit and fix a bug in the classification controller
  apps/backend/app/Http/Controllers/Api/ClassificationController.php
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/RequestStatus.php
  apps/backend/routes/api.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Registered more data to RequestDetailResource
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Http/Resources/PhoneResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/ReviewerResource.php
  apps/backend/app/Models/Phone.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
Due: api:build, api:test, api:deploy

Add scheduling activity type, fix to-date in date search
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Observers/AppointmentObserver.php
  apps/backend/database/seeds/ActivityTypeSeeder.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Changed submitted status back to received
  apps/backend/app/Jobs/RequestSectionSaveJob.php
Due: api:build, api:test, api:deploy

GRY-539 - Misc updates and fixes
  apps/backend/app/Http/Controllers/Api/ClassificationController.php
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Controllers/Api/RequestNarrativeReportTemplateController.php
  apps/backend/app/Http/Resources/PhoneResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/ReviewerResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Phone.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestStatus.php
  apps/backend/app/Models/User.php
  apps/backend/routes/api.php
  apps/web/src/Context/FormContext.js
  apps/web/src/components/DisplayPhone/index.jsx
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/ShowFormSection.jsx
  apps/web/src/components/assessment/views/AssessmentSectionHeader.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/pages/Assessment/Assessment.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Final submission of assessment form
  apps/backend/app/Console/Commands/ImportAssessment.php
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Jobs/SubmitAssessmentJob.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/RequestDateTypeSeeder.php
  apps/backend/routes/api.php
  apps/web/src/Context/AssessmentContext.js
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/components/assessment/views/ConsiderationView.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/styles/variables.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Remove activity section from request entry form
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/components/assessment/views/MediaView.jsx
  apps/web/src/components/request/RequestForm.jsx
Due: web:build, web:test, web:deploy

fix validation issue
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
Due: web:build, web:test, web:deploy

remove warnings
  apps/web/src/Context/AssessmentContext.js
  apps/web/src/components/assessment/ShowFormSection.jsx
Due: web:build, web:test, web:deploy

wrap up the request form, remove warnings
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/AssessmentView.jsx
  apps/web/src/components/request/RequestForm.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
