Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

adjust create user job to pass user type to constructor
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Jobs/Admin/CreateUserJob.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

Add api for admin clinical user update
  apps/backend/app/Http/Controllers/Api/Admin/ClinicalServicesUserController.php
  apps/backend/app/Http/Requests/Admin/ClinicalServicesUserRequest.php
  apps/backend/app/Jobs/Admin/UserCreateJob.php
  apps/backend/app/Jobs/Admin/UserUpdateJob.php
  apps/backend/routes/admin-api.php
  apps/backend/tests/Feature/Admin/ClinicalServicesUserTest.php
Due: api:build, api:test, api:deploy

Edit clinicians page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/Clinicians/AddClinicians.jsx
  apps/web/src/pages/Admin/Clinicians/Clinicians.jsx
Due: web:build, web:test, web:deploy

Account page
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Account/Tabs/TabDocuments.jsx
  apps/web/src/pages/Account/Tabs/TabSecurity.jsx
  apps/web/src/styles/account.scss
Due: web:build, web:test, web:deploy

Fix missing form values in the add member page
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Initial user manager page
  apps/backend/app/Http/Controllers/Api/Admin/UserController.php
  apps/backend/app/Http/SearchPipeline/UserType.php
  apps/backend/app/Models/User.php
  apps/backend/tests/Feature/Admin/UserTest.php
  apps/web/public/images/icons/users.png
  apps/web/src/Context/FormContext.js
  apps/web/src/components/elements/SelectWithFilter/index.jsx
  apps/web/src/components/forms/form-builder/CustomValidation/index.jsx
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/hooks/useSearch.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/AddUser/index.jsx
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/pages/Admin/UserList.jsx
  apps/web/src/pages/Login.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Change top level request types to classifications
  apps/backend/app/Http/Resources/ClassificationResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Models/Classification.php
  apps/backend/app/Models/ClassificationTemplate.php
  apps/backend/app/Models/Payer.php
  apps/backend/app/Models/RequestType.php
  apps/backend/app/Notifications/Channels/SmsChannel.php
  apps/backend/app/Notifications/Messages/SmsMessage.php
  apps/backend/database/factories/ClassificationFactory.php
  apps/backend/database/migrations/2021_03_19_172225_create_request_types_table.php
  apps/backend/database/migrations/2021_05_12_003401_create_request_type_templates_table.php
  apps/backend/database/migrations/2021_07_29_055009_create_classifications_table.php
  apps/backend/database/migrations/2021_08_06_172537_create_classification_templates_table.php
  apps/backend/database/seeds/RequestTypeSeeder.php
  apps/backend/tests/Feature/Admin/CompanyAddTest.php
  apps/backend/tests/Feature/Admin/PayerControllerTest.php
  apps/backend/tests/Feature/PayerTest.php
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps4.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Resolve undefined vars, removed unused Dash.jsx, and removed accordion component usage.
  apps/web/src/components/forms/form-builder/CustomRule/index.jsx
  apps/web/src/components/forms/form-builder/CustomValidation/index.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/forms/form-builder/index.js
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Dash.jsx
  apps/web/src/pages/Login.jsx
Due: web:build, web:test, web:deploy

remove warnings and console log
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/inputs/InputText.jsx
Due: web:build, web:test, web:deploy

Update Page Layout compatible with BS5
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/Sidebar.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: web:build, web:test, web:deploy

Add component for fontawesome pro icons
  apps/web/.npmrc
  apps/web/package.json
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

Redesign sidebar and layout
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

Updated styles and code for the admin add and edit company.
  apps/web/package.json
  apps/web/src/Context/FormContext.js
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/components/PageTitle/index.jsx
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/components/elements/AddressType/index.jsx
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/PageAlert.jsx
  apps/web/src/components/elements/TableTop/index.jsx
  apps/web/src/components/inputs/ContextMultiSelect/index.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/components/inputs/PhoneInput/index.jsx
  apps/web/src/components/inputs/ZipcodeInput/index.jsx
  apps/web/src/helpers/validate.js
  apps/web/src/hooks/useApiCall.js
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/Sidebar.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/AddCompanyForm.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/index.jsx
  apps/web/src/pages/Admin/Companies/AddressTab/index.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/CompanyDetailForm/index.jsx
  apps/web/src/pages/Admin/Companies/ContactTab/index.jsx
  apps/web/src/pages/Admin/Companies/DetailCompanies.jsx
  apps/web/src/pages/Admin/Companies/TableSearchForm/index.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabCompanyInfo.jsx
  apps/web/src/pages/Admin/Companies/Tabs/TabNarrativeReports/TabNarrativeReports.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/companies.scss
  apps/web/src/styles/layout.scss
  apps/web/src/styles/variables.scss
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

adjust styles for left sidebar
  .gitlab-ci.yml
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/styles/layout.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

fix role switcher
  apps/web/src/layouts/components/Header.jsx
Due: web:build, web:test, web:deploy

redesign top menu, add periscope icons
  apps/web/public/icon/android-icon-144x144.png
  apps/web/public/icon/android-icon-192x192.png
  apps/web/public/icon/android-icon-36x36.png
  apps/web/public/icon/android-icon-48x48.png
  apps/web/public/icon/android-icon-72x72.png
  apps/web/public/icon/android-icon-96x96.png
  apps/web/public/icon/apple-icon-114x114.png
  apps/web/public/icon/apple-icon-120x120.png
  apps/web/public/icon/apple-icon-144x144.png
  apps/web/public/icon/apple-icon-152x152.png
  apps/web/public/icon/apple-icon-180x180.png
  apps/web/public/icon/apple-icon-57x57.png
  apps/web/public/icon/apple-icon-60x60.png
  apps/web/public/icon/apple-icon-72x72.png
  apps/web/public/icon/apple-icon-76x76.png
  apps/web/public/icon/apple-icon-precomposed.png
  apps/web/public/icon/apple-icon.png
  apps/web/public/icon/browserconfig.xml
  apps/web/public/icon/favicon-16x16.png
  apps/web/public/icon/favicon-32x32.png
  apps/web/public/icon/favicon-96x96.png
  apps/web/public/icon/favicon.ico
  apps/web/public/icon/manifest.json
  apps/web/public/icon/ms-icon-144x144.png
  apps/web/public/icon/ms-icon-150x150.png
  apps/web/public/icon/ms-icon-310x310.png
  apps/web/public/icon/ms-icon-70x70.png
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

make menu icons fixed width, move icon lib add
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/src/fontawesome.js
  apps/web/src/index.js
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/menu/MenuUser.jsx
Due: web:build, web:test, web:deploy

fix right dropdown alignment, center brand in mobile
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/menu/MenuUser.jsx
Due: web:build, web:test, web:deploy

adjust left nav spacing and header padding
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/styles/layout.scss
Due: web:build, web:test, web:deploy

Update User Search on Healthplan Dashboard
  apps/web/src/components/PageTitle/index.jsx
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/components/elements/UserList.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/components/inputs/PhoneInput/index.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/AddCompanyForm.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/index.jsx
  apps/web/src/pages/Admin/Companies/AddressTab/index.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
Due: web:build, web:test, web:deploy

make font url https
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

Update page layout for dashboard pages
  apps/web/src/components/elements/BroadcastAlert.jsx
  apps/web/src/components/elements/PageAlert.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/hp_finance.jsx
  apps/web/src/pages/Home/hp_user.jsx
  apps/web/src/pages/Home/software_engineer.jsx
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

Adjust Dashboard Layouts
  apps/web/public/images/logo-tag-600.png
  apps/web/src/components/PageTitle/index.jsx
  apps/web/src/components/contextInputs/RawInput/index.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/pages/Admin/Companies/AddCompanies/AddCompanyForm.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/hp_finance.jsx
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/Home/hp_user.jsx
  apps/web/src/pages/Home/software_engineer.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/styles/layout.scss
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

remove warning and unnecessary codes
  apps/web/src/components/contextInputs/RawInput/index.jsx
  apps/web/src/components/elements/PageAlert.jsx
Due: web:build, web:test, web:deploy

Update healthplan user add form
  apps/web/src/components/PageTitle/index.jsx
  apps/web/src/components/contextInputs/Checkbox/index.jsx
  apps/web/src/components/contextInputs/FormButtons/index.js
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/components/elements/Form.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/pages/healthplan/AddUser.jsx
Due: web:build, web:test, web:deploy

Update member search page
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
  apps/web/src/helpers/table.js
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

Update healthplan user edit form
  apps/web/src/Context/FormContext.js
  apps/web/src/components/contextInputs/Checkbox/index.jsx
  apps/web/src/components/contextInputs/FormButtons/index.js
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
Due: web:build, web:test, web:deploy

Cleaned up the login page and component interactions
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/web/src/Context/FormContext.js
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/SubmitButton/index.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/components/inputs/Checkbox/index.jsx
  apps/web/src/components/inputs/InputText.jsx
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/components/inputs/Select/ContextSelect.jsx
  apps/web/src/components/inputs/Select/index.jsx
  apps/web/src/helpers/form.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/Login/LoginForm.jsx
  apps/web/src/pages/Login/index.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/companies.scss
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Adjust select style
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/pages/healthplan/EditUser.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: web:build, web:test, web:deploy

Updated logic on the login page checking bad auth scenarios and handling cleaing out the password field.
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2021_08_31_023845_add-alert_threshold-to-users.php
  apps/web/src/layouts/components/Header.jsx
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Account/Account.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

fixed, bg-green, added user notification dropdown, and added missing bell-on icon
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/layouts/components/TopNavNotifications/index.scss
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/layouts/components/menu/MenuUser.scss
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

Made deactivate account work and fixed js error in TopNavNotification
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Policies/UserPolicy.php
  apps/backend/routes/api.php
  apps/web/src/components/elements/ConfirmationModal.jsx
  apps/web/src/components/inputs/Checkbox/MultiCheckbox.jsx
  apps/web/src/helpers/form.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/styles/account.scss
  apps/web/src/styles/bootstrap-custom.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update add member page
  apps/web/src/Context/FormContext.js
  apps/web/src/components/contextInputs/Checkbox/index.jsx
  apps/web/src/components/contextInputs/FormButtons/index.js
  apps/web/src/components/contextInputs/Select/index.jsx
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/components/inputs/ContextMultiSelect/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/components/inputs/ZipcodeInput/index.jsx
  apps/web/src/hooks/useAuth.js
  apps/web/src/pages/Admin/FormBuilder/show/RenderForm.jsx
  apps/web/src/pages/Login/LoginForm.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/companies.scss
Due: web:build, web:test, web:deploy

New Request Add Form
  apps/backend/app/Http/Controllers/Api/DocumentRequestController.php
  apps/backend/app/Http/Resources/RequestItemResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2021_03_25_130825_create_requests_table.php
  apps/backend/tests/Feature/RequestAddTest.php
  apps/web/package.json
  apps/web/src/components/PageTitle/index.jsx
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/forms/RequestDocForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/fontawesome.js
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/variables.scss
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove warnings
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/forms/RequestDocForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

Update frontend request creation
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

Remove warning and beautify code
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
