Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

set up task schedule for inspector runs, add expection handling
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
  apps/backend/app/Console/Commands/AwsInspector/RunCommand.php
  apps/backend/app/Console/Kernel.php
Due: api:build, api:test, api:deploy

option to run all, report name formatting
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
  apps/backend/app/Console/Commands/AwsInspector/RunCommand.php
Due: api:build, api:test, api:deploy

GRY-105-2 Carry typed email to the forgot password page if typed so the user does not need to re-type it
  apps/backend/app/Http/Middleware/VerifyCsrfToken.php
  apps/backend/app/Models/User.php
  apps/backend/config/cors.php
  apps/web/package.json
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/ForgotPassword.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/SetForgotPassword.jsx
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-105-2 Carry typed email to the forgot password page if typed so the user does not need to re-type it
  apps/backend/app/Models/User.php
  apps/web/src/pages/SetForgotPassword.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Adjust aws inspector cron and log path
  apps/backend/app/Console/Commands/AwsInspector/RunCommand.php
  apps/backend/app/Console/Kernel.php
Due: api:build, api:test, api:deploy

adjust inspector report filename
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
Due: api:build, api:test, api:deploy

GRY-105-5 - Added idle timer and modal with countdown timer with styling
  apps/backend/app/Models/User.php
  apps/web/package.json
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/Modal.jsx
  apps/web/src/components/elements/TimeoutModal.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/hooks/useIdleTimeout.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Change countdown timer font color if timer is less then 1 minutes left.
  apps/web/src/components/elements/TimeoutModal.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: web:build, web:test, web:deploy

add timeout and countdown config, icon for modal title
  apps/web/src/components/elements/Modal.jsx
  apps/web/src/components/elements/TimeoutModal.jsx
  apps/web/src/config/Login.js
  apps/web/src/hooks/useIdleTimeout.js
  apps/web/src/layouts/PageLayout.jsx
Due: web:build, web:test, web:deploy

Feature/gry 78/store assessment/skylar
  apps/backend/app/Http/Controllers/Api/AssessmentController.php
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Requests/Assessment/AssessmentRequest.php
  apps/backend/app/Http/Resources/Assessment/AnswerResource.php
  apps/backend/app/Http/Resources/Assessment/AnswerResourceCollection.php
  apps/backend/app/Http/Resources/Assessment/AssessementResourceCollection.php
  apps/backend/app/Http/Resources/Assessment/AssessmentResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Library/Validation/Validator.php
  apps/backend/app/Models/Assessment/Answer.php
  apps/backend/app/Models/Assessment/Assessment.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Traits/Uuidable.php
  apps/backend/database/factories/Assessment/AnswerFactory.php
  apps/backend/database/factories/Assessment/AssessmentFactory.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/migrations/2020_07_31_171656_create_questionnaires_table.php
  apps/backend/database/migrations/2020_08_13_121737_create_assessments_table.php
  apps/backend/database/migrations/2020_12_28_130825_create_requests_table.php
  apps/backend/database/seeds/AssessmentSeeder.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/QuestionnaireSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/AssessmentTest.php
  apps/backend/tests/Feature/QuestionnaireTest.php
  apps/backend/tests/Feature/RequestTest.php
  apps/web/src/components/assessment/Questionnaire.jsx
  apps/web/src/components/assessment/Sections.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Assessment.jsx
  apps/web/src/pages/Questionnaire.jsx
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add member and address models and resources
  apps/backend/app/Http/Controllers/Api/MemberController.php
  apps/backend/app/Http/Resources/AddressResource.php
  apps/backend/app/Http/Resources/AssessementCollectionResource.php
  apps/backend/app/Http/Resources/MemberResource.php
  apps/backend/app/Models/Address.php
  apps/backend/app/Models/Member.php
  apps/backend/database/factories/AddressFactory.php
  apps/backend/database/factories/MemberFactory.php
  apps/backend/database/factories/RequestFactory.php
  apps/backend/database/migrations/2021_01_23_152255_create_members_table.php
  apps/backend/database/migrations/2021_01_23_155129_create_addresses_table.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/MemberTest.php
Due: api:build, api:test, api:deploy

add foundation for request activities and notifications
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/app/Http/Controllers/Api/AssessmentController.php
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/app/Http/Resources/ActivityResourceCollection.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Activity/ActivityType.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/User.php
  apps/backend/app/Notifications/Channels/SmsChannel.php
  apps/backend/app/Notifications/Messages/SmsMessage.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/app/Traits/Observable.php
  apps/backend/config/app.php
  apps/backend/database/factories/Activity/ActivityFactory.php
  apps/backend/database/factories/Activity/ActivityTypeFactory.php
  apps/backend/database/migrations/2014_10_12_000000_create_users_table.php
  apps/backend/database/migrations/2021_01_26_125824_create_notifications_table.php
  apps/backend/database/migrations/2021_01_26_131150_create_activities_table.php
  apps/backend/database/migrations/2021_01_27_204801_create_activity_types_table.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/ActivityNotificationTest.php
  apps/backend/tests/Feature/ActivityTest.php
Due: api:build, api:test, api:deploy

consolidate all notification prefs into a single array field
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/User.php
  apps/backend/app/Notifications/RequestActivity.php
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/migrations/2014_10_12_000000_create_users_table.php
Due: api:build, api:test, api:deploy

Therapist Dashboard
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/RequestTest.php
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/__tests__/Dash.js
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/BroadcastAlert.jsx
  apps/web/src/components/elements/RequesInfo.jsx
  apps/web/src/components/elements/RequestList.jsx
  apps/web/src/hooks/useApiService.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Account.jsx
  apps/web/src/pages/Home.jsx
  apps/web/src/styles/AlertList.scss
  apps/web/src/styles/PageAlert.scss
  apps/web/src/styles/RequestInfo.scss
  apps/web/src/styles/RequestList.scss
  apps/web/src/styles/home.scss
  apps/web/src/styles/layout.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add backend user crud handling and validation
  apps/backend/app/Exceptions/Handler.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Requests/UserRequest.php
  apps/backend/app/Http/Resources/PhoneCollectionResource.php
  apps/backend/app/Http/Resources/PhoneResource.php
  apps/backend/app/Http/Resources/RoleResource.php
  apps/backend/app/Http/Resources/UserCollectionResource.php
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Models/Phone.php
  apps/backend/app/Models/User.php
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/migrations/2014_10_12_000000_create_users_table.php
  apps/backend/database/migrations/2020_07_17_130553_create_phones_table.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/LoginTest.php
  apps/backend/tests/Feature/UserTest.php
Due: api:build, api:test, api:deploy

Update profile route in SSO login test
  apps/backend/tests/Feature/SsoLoginTest.php
Due: api:build, api:test, api:deploy

update user profile route
  apps/web/src/navigation/AppNavigation.js
Due: web:build, web:test, web:deploy

I added a package I created to generate branch names and set yarn workspaces and lerna. for local development this saves a half gig of disk space.
  apps/backend/package.json
  apps/project-cli/README.md
  apps/project-cli/index.js
  apps/project-cli/node_modules/.bin/jest
  apps/project-cli/node_modules/.bin/shjs
  apps/project-cli/node_modules/argparse/CHANGELOG.md
  apps/project-cli/node_modules/argparse/LICENSE
  apps/project-cli/node_modules/argparse/README.md
  apps/project-cli/node_modules/argparse/argparse.js
  apps/project-cli/node_modules/argparse/lib/sub.js
  apps/project-cli/node_modules/argparse/lib/textwrap.js
  apps/project-cli/node_modules/argparse/package.json
  apps/project-cli/package.json
  apps/project-cli/task_open.js
  apps/project-cli/yarn.lock
  lerna.json
  package.json
  yarn.lock
Due: api:build, api:test, api:deploy

roles based middleware proof of concept.
  apps/web/src/actions/userAction.js
  apps/web/src/helpers/user.js
  apps/web/src/hooks/useApiCall.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/reducers/userReducer.js
  apps/web/src/route/PrivateRoute.js
Due: web:build, web:test, web:deploy

Improved on the logic a little.
  apps/web/src/helpers/user.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/route/PrivateRoute.js
Due: web:build, web:test, web:deploy

Stop tracking node_modules
  .gitignore
  apps/project-cli/node_modules/.bin/jest
  apps/project-cli/node_modules/.bin/shjs
  apps/project-cli/node_modules/argparse/CHANGELOG.md
  apps/project-cli/node_modules/argparse/LICENSE
  apps/project-cli/node_modules/argparse/README.md
  apps/project-cli/node_modules/argparse/argparse.js
  apps/project-cli/node_modules/argparse/lib/sub.js
  apps/project-cli/node_modules/argparse/lib/textwrap.js
  apps/project-cli/node_modules/argparse/package.json
Due: none

replace plural role resources.
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Http/Resources/RolesResource.php
  apps/web/src/navigation/AppNavigation.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

make sure to use the correct resource
  apps/backend/app/Http/Resources/UserResource.php
Due: api:build, api:test, api:deploy

add user types
  apps/backend/app/Http/Resources/UserResource.php
  apps/backend/app/Http/Resources/UserType/ClinicalServicesUser.php
  apps/backend/app/Http/Resources/UserType/EngineeringUserResource.php
  apps/backend/app/Http/Resources/UserType/HealthplanUser.php
  apps/backend/app/Models/User.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/app/Models/UserType/EngineeringUser.php
  apps/backend/app/Models/UserType/HealthplanUser.php
  apps/backend/database/factories/UserFactory.php
  apps/backend/database/factories/UserType/EngineeringUserFactory.php
  apps/backend/database/migrations/2014_10_12_000000_create_users_table.php
  apps/backend/database/migrations/2021_02_08_211828_create_healthplan_users_table.php
  apps/backend/database/migrations/2021_02_08_214419_create_engineering_users_table.php
  apps/backend/database/migrations/2021_02_09_001127_create_clinical_services_users_table.php
  apps/backend/tests/Feature/UserTest.php
Due: api:build, api:test, api:deploy

add User model user_type to fillable
  apps/backend/app/Models/User.php
Due: api:build, api:test, api:deploy

I did a significant clean-up of redux and the login flow to it easier to work on and make it more stable.
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2021_02_08_205014_add_primary_role_to_users.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/LoginTest.php
  apps/web/src/actions/authAction.js
  apps/web/src/components/elements/AlertList.jsx
  apps/web/src/components/elements/BroadcastAlert.jsx
  apps/web/src/components/elements/RequesInfo.jsx
  apps/web/src/components/elements/RequestList.jsx
  apps/web/src/components/inputs/Select.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/hooks/useApiService.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/hooks/useIdleTimeout.js
  apps/web/src/hooks/useLogin.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Errors/401.jsx
  apps/web/src/pages/Home/admin.jsx
  apps/web/src/pages/Home/healthplan.jsx
  apps/web/src/pages/Home/index.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/pages/tabs/TabDocuments.jsx
  apps/web/src/reducers/userReducer.js
  apps/web/src/route/PrivateRoute.js
  apps/web/src/route/RoleRoute.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Catch bad auth and start to clean out the apiService function in favor for the useApiCall hook
  apps/web/src/hooks/useApiCall.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/pages/Assessment.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/route/PrivateRoute.js
  apps/web/src/route/RoleRoute.js
Due: web:build, web:test, web:deploy

added interceptor sample code with auto logout on 401 call.
  apps/web/src/components/elements/BroadcastAlert.jsx
  apps/web/src/hooks/useApiCall.js
Due: web:build, web:test, web:deploy

Php 8 compat, protected error page route
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/web/src/components/elements/RequesInfo.jsx
  apps/web/src/pages/Errors/401.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

make no access route a private route
  apps/web/src/navigation/AppNavigation.js
Due: web:build, web:test, web:deploy

Fixed ecosystem runner. You can now run `yarn start` and login and everything will work locally.
  ecosystem.config.js
Due: none

match minimum node version to gitlab runner image
  package.json
Due: none

use yarn cache instead of caching node_modules
  .gitlab-ci.yml
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove sast jobs
  .gitlab-ci.yml
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove yarn.lock from pipeline cache
  .gitlab-ci.yml
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

revert pipeline
  .gitlab-ci.yml
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

The request seeder was missing and I added a comment to the new column I added to the users table.
  apps/backend/database/migrations/2021_02_08_205014_add_primary_role_to_users.php
  apps/backend/database/seeds/RequestSeeder.php
Due: api:build, api:test, api:deploy

Allow for node v 14. Local updates install it and catch 500 errors in the api on login and remove the hook useLogin
  apps/mobile/src/Hooks/useLogin.js
  apps/web/src/hooks/useAuth.js
  package.json
Due: web:build, web:test, web:deploy

test disable yarn workspaces to fix the frontend tests
  .gitlab-ci.yml
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

clean up unused redux, pass string back from auth hook error message
  apps/web/src/__tests__/Login.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/pages/Home/admin.jsx
  apps/web/src/pages/Home/healthplan.jsx
  apps/web/src/pages/Home/index.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/testUtils.js
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
