Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

revert host for envoy deployment
  apps/backend/Envoy.blade.php
Due: api:build, api:test, api:deploy

Create assessment rules index page
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/layouts/components/sidebar/sidebar.scss
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/AssessmentRules/AssessmentRules.jsx
Due: web:build, web:test, web:deploy

Adjust healthplan add form
  apps/web/src/components/elements/ContactMethodRow/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/components/elements/MemberInfoForm.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: web:build, web:test, web:deploy

Adjust resources for request entry, fix api hook
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Http/Resources/MemberDetailResource.php
  apps/backend/app/Http/Resources/PayerLobResource.php
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/web/src/hooks/useApiCall.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Fix Healthplan User summary count query
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/UserType/HealthPlanUser.php
Due: api:build, api:test, api:deploy

debounce the diagnosis xhr lookup
  apps/web/src/components/request/forms/RequestInfoForm.jsx
Due: web:build, web:test, web:deploy

Skunk Demo
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/Footer.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/healthplan/AddUser.jsx
  apps/web/src/styles/PageLayout.scss
Due: web:build, web:test, web:deploy

Demo
  apps/web/src/Context/UserContext.js
  apps/web/src/components/UserEditForm/HealthplanUserForm.jsx
  apps/web/src/components/contextInputs/Checkbox/index.jsx
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/layouts/components/Header.jsx
Due: web:build, web:test, web:deploy

fix scroll issue
  apps/web/src/layouts/components/Footer.jsx
  apps/web/src/styles/PageLayout.scss
Due: web:build, web:test, web:deploy

Hp_User dashboard page
  apps/web/src/pages/Home/hp_user.jsx
Due: web:build, web:test, web:deploy

Add external links to sidebar
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
Due: web:build, web:test, web:deploy

Add blank Invoices page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Invoices.jsx
Due: web:build, web:test, web:deploy

Upload profile picture
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/pages/Account/Account.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Account/Tabs/TabSecurity.jsx
  apps/web/src/styles/account.scss
Due: web:build, web:test, web:deploy

check request type and parents in request item resource
  apps/backend/app/Http/Resources/RequestItemResource.php
Due: api:build, api:test, api:deploy

Veribiage updates
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/RequestEditForm.jsx
Due: web:build, web:test, web:deploy

add debounce to diagnosis lookup for edit form
  apps/web/src/components/request/views/RequestInfoView.jsx
Due: web:build, web:test, web:deploy

include lodash import in form with debounce
  apps/web/src/components/request/views/RequestInfoView.jsx
Due: web:build, web:test, web:deploy

radio input, better input show rules, updated checkboxes
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/elements/FormElement.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/inputs/CheckBoxGroup/index.jsx
  apps/web/src/components/inputs/Checkbox/ContextCheckbox.jsx
  apps/web/src/components/inputs/Checkbox/index.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
Due: web:build, web:test, web:deploy

add request assessment endpoint, request called date
  apps/backend/app/Http/Controllers/Api/RequestAssessmentController.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Models/Request.php
  apps/backend/database/migrations/2021_03_19_174340_create_request_date_types_table.php
  apps/backend/database/seeds/RequestDateTypeSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/AssessmentTest.php
Due: api:build, api:test, api:deploy

Update UI for new request page
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: web:build, web:test, web:deploy

GRY-499, GRY-500
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/navigation/AppNavigation.js
Due: web:build, web:test, web:deploy

Request form relative diagnosis list
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
Due: web:build, web:test, web:deploy

Changed the form title to start working on Andie's feedback in AHA
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
Due: web:build, web:test, web:deploy

Add scheduling api
  apps/backend/Envoy.blade.php
  apps/backend/app/Http/Controllers/Api/AppointmentController.php
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Resources/AppointmentResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Http/Resources/RequestResource.php
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/backend/app/Models/Appointment.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/RequestDate.php
  apps/backend/app/Observers/AppointmentObserver.php
  apps/backend/database/migrations/2021_10_11_235857_create_appointments_table.php
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/database/seeds/RequestDateTypeSeeder.php
  apps/backend/database/seeds/RequestSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/backend/tests/Feature/AssessmentTest.php
Due: api:build, api:test, api:deploy

activity index api, activity created event, create activity for appts
  apps/backend/app/Events/ActivityCreated.php
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/app/Listeners/ActivityCreatedListener.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Observers/AppointmentObserver.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/backend/tests/Feature/AppointmentTest.php
Due: api:build, api:test, api:deploy

Seed activities with request, add recursive child activity relationship
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/app/Models/Payer.php
  apps/backend/database/factories/Activity/ActivityFactory.php
  apps/backend/database/seeds/RequestSeeder.php
  apps/backend/tests/Feature/ActivityTest.php
Due: api:build, api:test, api:deploy

Remove field gripper from the form builder elements, removed border and background for input-groups and fixed form-builder.text output
  apps/web/package.json
  apps/web/src/components/FormBuilder/Fields/GryText.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/helpers/string.js
  apps/web/src/pages/Admin/FormBuilder/edit/index.jsx
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

Added new textarea form builder component
  apps/web/src/components/FormBuilder/Fields/GryTextarea.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/inputs/InputText.jsx
Due: web:build, web:test, web:deploy

Connect data to clinician assessment page
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/pages/Assessment/Assessment.jsx
Due: web:build, web:test, web:deploy

Connect scheduling form to api
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/elements/FormElement.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/pages/Assessment/Assessment.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Appointment Reschedule API
  apps/backend/app/Http/Controllers/Api/AppointmentController.php
  apps/backend/app/Http/Requests/RescheduleRequest.php
  apps/backend/app/Http/Resources/AppointmentResource.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/AppointmentTest.php
Due: api:build, api:test, api:deploy

Some demo work
  apps/web/src/components/request/forms/RequestDocForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
Due: web:build, web:test, web:deploy

API for add activity and reply to activities
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/app/Http/Requests/ActivityRequest.php
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Resources/ActivityResource.php
  apps/backend/app/Models/Activity/Activity.php
  apps/backend/tests/Feature/ActivityTest.php
Due: api:build, api:test, api:deploy

My stuff filter in the dashboard page
  apps/web/src/components/elements/RequestsTable.jsx
Due: web:build, web:test, web:deploy

add backend query for mystuff filter
  apps/backend/app/Models/Request.php
  apps/backend/tests/Feature/RequestTest.php
  apps/web/src/components/elements/RequestsTable.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-334 - Added misc UI changes
  apps/web/package.json
  apps/web/src/Context/FormContext.js
  apps/web/src/__tests__/__snapshots__/Inputs.js.snap
  apps/web/src/__tests__/__snapshots__/TableApi.js.snap
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryRowSpace.jsx
  apps/web/src/components/FormBuilder/Fields/GrySelect.jsx
  apps/web/src/components/FormBuilder/Fields/GryText.jsx
  apps/web/src/components/FormBuilder/Fields/index.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/ContextRadioInput/index.jsx
  apps/web/src/components/inputs/Select/index.jsx
  apps/web/src/helpers/string.js
  apps/web/yarn.lock
  package.json
  yarn.lock
Due: web:build, web:test, web:deploy

Activity section
  apps/backend/app/Http/Controllers/Api/ActivityController.php
  apps/backend/tests/Feature/ActivityTest.php
  apps/web/src/components/FormBuilder/Fields/GryRadioGroup.jsx
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/ActivityForm.jsx
  apps/web/src/components/assessment/forms/TreeItem.jsx
  apps/web/src/components/assessment/views/ActivityView.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
  apps/web/src/components/assessment/views/styles.scss
  apps/web/src/fontawesome.js
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add media upload API
  apps/backend/.env.testing
  apps/backend/app/Events/DocumentCreated.php
  apps/backend/app/Http/Controllers/Api/AppointmentController.php
  apps/backend/app/Http/Controllers/Api/DocumentRequestController.php
  apps/backend/app/Http/Requests/AppointmentRequest.php
  apps/backend/app/Http/Requests/FileRequest.php
  apps/backend/app/Http/Requests/RescheduleRequest.php
  apps/backend/app/Http/Resources/AppointmentResource.php
  apps/backend/app/Http/Resources/DocumentResource.php
  apps/backend/app/Http/Resources/MediaResource.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/app/Http/Resources/RequestDetailResource.php
  apps/backend/app/Listeners/DocumentCreatedListener.php
  apps/backend/app/Models/Document.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/TrainingDocument.php
  apps/backend/app/Observers/AppointmentObserver.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/app.php
  apps/backend/config/image.php
  apps/backend/database/migrations/2021_06_01_132658_create_tags_table.php
  apps/backend/database/migrations/2021_06_01_132709_create_tagables_table.php
  apps/backend/database/migrations/2021_11_23_145133_create_tag_tables.php
  apps/backend/database/migrations/2021_11_23_162628_add_document_media_columns.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/backend/tests/Feature/RequestDocumentTest.php
Due: api:build, api:test, api:deploy

Reschedule appointment in the assessment page
  apps/backend/app/Http/Resources/AppointmentResource.php
  apps/backend/app/Http/Resources/RequestAssessmentResource.php
  apps/backend/tests/Feature/AppointmentTest.php
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/forms/AppointmentScheduleForm.jsx
  apps/web/src/components/assessment/forms/RescheduleForm.jsx
  apps/web/src/components/assessment/forms/ScheduleForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

remove unused variables
  apps/web/src/components/assessment/AssessmentEditForm.jsx
  apps/web/src/components/assessment/views/ScheduleView.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
