Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, api:deploy, web:build, web:test, web:deploy

api:build:
  stage: build
  script:
  - cd apps/backend
  - composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  - php artisan config:cache
  - php artisan migrate
  - php artisan passport:keys

api:test:
  stage: test
  needs:
  - api:build
  script:
  - cd apps/backend
  - php artisan test

api:deploy:
  stage: deploy
  script:
  - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_64" | base64 -d)
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  ...

web:build:
  stage: build
  script:
  - cd apps/web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd apps/web
  - yarn test --watchAll=false

web:deploy:
  stage: deploy
  script:
  - cd apps
  - yarn run build && zip -qr build.zip web && aws s3 cp build.zip s3://gryphon-web-stage
  environment:
    name: staging
    url: https://gryphon.dme-cg.com

fixed failing tests
  apps/web/src/__tests__/Account.js
  apps/web/src/__tests__/AlertList.js
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/__tests__/Dash.js
Due: web:build, web:test, web:deploy

fix persist with request submit api call
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/pages/healthplan/SearchMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

added new ability and fixed frontend failing tests
  apps/backend/database/seeds/BouncerSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/UserTest.php
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

utilize users.inactive_at column and added new ability and fixed frontend failing tests
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Models/User.php
  apps/backend/database/migrations/2021_09_03_172107_add-inactive_at-to-users.php
Due: api:build, api:test, api:deploy

fix doc upload sync, add page loading indicator
  apps/web/src/components/elements/FapIcon.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/forms/RequestDocForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

updated form-build to look good for BS5, added form copy to the form builder index page, fixed the phone number input, fixed form builder submit button, and made sure validation is present server side
  apps/backend/app/Http/Controllers/Api/FormController.php
  apps/web/package.json
  apps/web/src/components/FormBuilder/Fields/GryPhone.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

added in changes to the onFormChange callback flow
  apps/web/src/Context/FormContext.js
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
Due: web:build, web:test, web:deploy

adjust layout of notification display
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
Due: web:build, web:test, web:deploy

Goodbye Redux
  apps/web/package.json
  apps/web/src/App.js
  apps/web/src/Context/UserContext.js
  apps/web/src/__tests__/AppNavigation.js
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/elements/UserTopSearch.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/dashLayout.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Account/Account.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Federated.jsx
  apps/web/src/pages/Home/admin.jsx
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/index.jsx
  apps/web/src/pages/Login/index.jsx
  apps/web/src/pages/Questionnaire.jsx
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/pages/SetForgotPassword.jsx
  apps/web/src/route/PrivateRoute.js
  apps/web/src/route/RoleRoute.js
  apps/web/src/testUtils.js
  apps/web/yarn.lock
Due: web:build, web:test, web:deploy

add local key to hp user request relationship
  apps/backend/app/Models/UserType/HealthPlanUser.php
Due: api:build, api:test, api:deploy

Dashboard
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/elements/TableAPI/index.jsx
  apps/web/src/components/inputs/Checkbox/MultiCheckbox.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Home/admin.jsx
  apps/web/src/pages/Home/hp_champion.jsx
  apps/web/src/pages/Home/hp_finance.jsx
  apps/web/src/pages/Home/hp_manager.jsx
  apps/web/src/pages/Home/hp_user.jsx
  apps/web/src/pages/Home/index.jsx
  apps/web/src/pages/Home/software_engineer.jsx
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
Due: web:build, web:test, web:deploy

map null status to in progress in request table
  apps/web/src/components/elements/RequestsTable.jsx
Due: web:build, web:test, web:deploy

On the form builder add autosave with debounce and on unmount to make sure the form has been quickly saved.
  README.md
  apps/backend/app/Events/FormAnswerSavedEvent.php
  apps/backend/app/Http/Controllers/Api/FormAnswerController.php
  apps/backend/app/Http/Controllers/Api/FormController.php
  apps/backend/app/Http/Resources/FormAnswerResource.php
  apps/backend/app/Http/Resources/FormResource.php
  apps/backend/app/Jobs/CheckFormAnswersJob.php
  apps/backend/app/Models/Form.php
  apps/backend/app/Models/FormAnswer.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/routes/api.php
  apps/web/src/Context/FormContext.js
  apps/web/src/Context/UserContext.js
  apps/web/src/actions/userAction.js
  apps/web/src/components/FormBuilder/Fields/GryCheckboxGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GrySelect.jsx
  apps/web/src/components/elements/FormElement.jsx
  apps/web/src/components/elements/SelectWithFilter/CTXSelectWithFilter.jsx
  apps/web/src/components/inputs/CheckBoxGroup/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/hooks/useApiCall.js
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/Admin/FormBuilder/show/index.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Update request search page
  apps/backend/app/Http/SearchPipeline/AuthNumber.php
  apps/backend/app/Http/SearchPipeline/RequestStatusId.php
  apps/web/src/Context/FormContext.js
  apps/web/src/components/elements/DateRangeForm.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/fontawesome.js
  apps/web/src/hooks/useFormBuilder.js
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/pages/healthplan/SearchMemberAutocomplete.jsx
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/healthplan.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Add New Request Updates
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/TimeoutModal.jsx
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/forms/RequestDocForm.jsx
  apps/web/src/components/request/forms/RequestInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/fontawesome.js
  apps/web/src/helpers/table.js
  apps/web/src/pages/newRequestAdd/NewRequestAdd.js
  apps/web/src/styles/variables.scss
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add endpoint for request edit, adjust api error return
  apps/web/src/hooks/useApiCall.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

remove warning and console
  apps/web/src/components/request/RequestForm.jsx
Due: web:build, web:test, web:deploy

add view / edit sections for requests
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/views/DueDateView.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/components/request/views/RequestDocView.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/styles/request-progress.scss
Due: web:build, web:test, web:deploy

add request view/edit page
  apps/web/src/pages/healthplan/RequestEdit.jsx
Due: web:build, web:test, web:deploy

update diagnosis update, add timezone handling for due date
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/src/Context/UserContext.js
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/views/DueDateView.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Added FormContext@objUpdate that takes in an object and updates the form from it in the same way as a spread operator
  apps/web/src/Context/FormContext.js
Due: web:build, web:test, web:deploy

time zone handling for due date, replace moment with dayjs
  apps/backend/app/Jobs/RequestSectionSaveJob.php
  apps/web/package.json
  apps/web/src/Context/UserContext.js
  apps/web/src/__tests__/Federated.js
  apps/web/src/__tests__/Login.js
  apps/web/src/components/elements/DateRangeForm.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/views/DueDateView.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/pages/RequestLookup/RequestLookup.js
  apps/web/src/pages/newRequestAddSteps/NewRequestAddSteps5.js
  apps/web/yarn.lock
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

GRY-443 - Make the account security tab functional
  apps/backend/app/Http/Controllers/Api/PasswordController.php
  apps/backend/app/Rules/MatchedCurrentPasswordRule.php
  apps/backend/routes/api.php
  apps/web/src/Context/FormContext.js
  apps/web/src/components/request/ApiValidationErrors/index.jsx
  apps/web/src/helpers/request.js
  apps/web/src/pages/Account/Account.jsx
  apps/web/src/pages/Account/Tabs/TabSecurity.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

replace backwards incompat form context update with objUpdate
  apps/web/src/components/elements/DateRangeForm.jsx
Due: web:build, web:test, web:deploy

Update Training page
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/pages/Training/Tabs/TabCompliance.jsx
  apps/web/src/pages/Training/Tabs/TabPortalTraining.jsx
  apps/web/src/pages/Training/Tabs/TabResources.jsx
  apps/web/src/pages/Training/Training.jsx
Due: web:build, web:test, web:deploy

fix warnings
  apps/web/src/components/request/ApiValidationErrors/index.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/DueDateForm.jsx
  apps/web/src/components/request/views/RequestDocView.jsx
  apps/web/src/components/request/views/RequestInfoView.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
  apps/web/src/pages/Account/Tabs/TabSecurity.jsx
  apps/web/src/pages/healthplan/RequestEdit.jsx
Due: web:build, web:test, web:deploy

update admin clinicians page
  apps/web/src/pages/Admin/Clinicians/Clinicians.jsx
  apps/web/src/pages/RequestLookup/RequestLookup.js
Due: web:build, web:test, web:deploy

Clinician request relationship
  apps/backend/app/Http/Controllers/Api/RequestController.php
  apps/backend/app/Models/Request.php
  apps/backend/app/Models/UserType/ClinicalServicesUser.php
  apps/backend/database/migrations/2021_03_23_192425_create_clinical_users_table.php
  apps/backend/database/migrations/2021_03_25_130825_create_requests_table.php
  apps/backend/database/seeds/UserSeeder.php
Due: api:build, api:test, api:deploy

Updated the new member info form. button block and variant were broken and...
  apps/web/src/Context/GlobalContext.js
  apps/web/src/components/elements/Button/index.jsx
  apps/web/src/components/elements/ContactMethodRow/index.jsx
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
  apps/web/src/styles/bootstrap-custom.scss
Due: web:build, web:test, web:deploy

Update top right notification
  apps/web/src/layouts/components/TopNavNotifications/index.jsx
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/NotificationList.jsx
  apps/web/src/styles/variables.scss
Due: web:build, web:test, web:deploy

The new span width value is not saving. I'm tracking that down and I need to track down why check boxes are not saving.
  .tool-versions
  apps/web/src/components/FormBuilder/Fields/GryInputGroup.jsx
  apps/web/src/components/FormBuilder/Fields/GryInputGroupRepeater.jsx
  apps/web/src/components/elements/FormGroup.jsx
  apps/web/src/components/forms/form-builder/field-edit-page/index.jsx
  apps/web/src/components/inputs/ContextInput/index.jsx
  apps/web/src/components/inputs/CtxCheckboxGroup/index.jsx
  apps/web/src/pages/Admin/FormBuilder/Index.jsx
  apps/web/src/pages/Admin/FormBuilder/edit/style.scss
  apps/web/src/pages/Admin/FormBuilder/show/RenderForm.jsx
Due: web:build, web:test, web:deploy

Update clinicians menu
  apps/web/src/fontawesome.js
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/menu/MenuClinician.jsx
  apps/web/src/layouts/components/menu/MenuHealthplan.jsx
  apps/web/src/layouts/components/menu/index.jsx
  apps/web/src/layouts/components/sidebar/SidebarClinician.jsx
  apps/web/src/layouts/components/sidebar/SidebarHealthplan.jsx
  apps/web/src/layouts/components/sidebar/index.jsx
Due: web:build, web:test, web:deploy

update admin user page
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Admin/UserList.jsx
Due: web:build, web:test, web:deploy

add capability to edit member in request creation
  apps/backend/app/Http/Resources/PayerResource.php
  apps/backend/app/Models/Payer.php
  apps/web/src/components/contextInputs/Checkbox/index.jsx
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/menu/MenuUser.jsx
  apps/web/src/pages/Account/Tabs/TabAccount.jsx
  apps/web/src/pages/healthplan/AddMember.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

add member form and payer sibling resource
  apps/backend/app/Http/Resources/PayerSiblingResource.php
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/components/inputs/Select/ContextSelect.jsx
  apps/web/src/components/request/MemberForm.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/forms/MemberInfoForm.jsx
  apps/web/src/components/request/forms/RequestItemForm.jsx
  apps/web/src/components/request/views/DueDateView.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
  apps/web/src/components/request/views/RequestItemView.jsx
Due: api:build, api:test, api:deploy, web:build, web:test, web:deploy

Fix address form issue
  apps/web/src/Context/FormContext.js
  apps/web/src/components/elements/AddressForm.jsx
Due: web:build, web:test, web:deploy

populate initial county, toggle member edit form on update
  apps/web/src/components/elements/AddressForm.jsx
  apps/web/src/components/request/RequestEditForm.jsx
  apps/web/src/components/request/RequestForm.jsx
  apps/web/src/components/request/views/MemberInfoView.jsx
Due: web:build, web:test, web:deploy

Add sidebar menus for admin
  apps/web/src/fontawesome.js
  apps/web/src/layouts/components/menu/MenuAdmin.jsx
  apps/web/src/layouts/components/menu/index.jsx
  apps/web/src/layouts/components/sidebar/SidebarAdmin.jsx
  apps/web/src/layouts/components/sidebar/index.jsx
Due: web:build, web:test, web:deploy

Update clinicians dashboard page
  apps/web/src/components/elements/ContactMethods.jsx
  apps/web/src/components/elements/RequestsTable.jsx
  apps/web/src/pages/Home/clinical_reviewer.jsx
  apps/web/src/pages/Home/field_clinician.jsx
Due: web:build, web:test, web:deploy

Update admin companies page
  apps/web/src/components/elements/TableTop/index.jsx
  apps/web/src/layouts/PageLayout.jsx
  apps/web/src/layouts/components/sidebar/Sidebar.jsx
  apps/web/src/pages/Admin/Companies/Companies.jsx
  apps/web/src/pages/Admin/Companies/TableSearchForm/index.jsx
Due: web:build, web:test, web:deploy

Path conditions:
  api:build: any of: apps/backend/**/*, .gitlab-ci.yml
  api:test: any of: apps/backend/**/*, .gitlab-ci.yml
  api:deploy: any of: apps/backend/**/*, .gitlab-ci.yml
  web:build: any of: apps/web/**/*, .gitlab-ci.yml
  web:test: any of: apps/web/**/*, .gitlab-ci.yml
  web:deploy: any of: apps/web/**/*, .gitlab-ci.yml
