Repository jose-rene/healthcare-react: changes, and which GitLab CI jobs are due for each by the changed paths.
All: api:build, api:test, web:build, web:test

api:build:
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  stage: build
  script:
  - cd API
  - curl -sS https://getcomposer.org/installer | php
  - php composer.phar install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
  - cp .env.testing .env
  - php artisan key:generate
  ...

api:test:
  image: edbizarro/gitlab-ci-pipeline-php:7.4
  stage: test
  needs:
  - api:build
  script:
  - cd API
  - php artisan test

web:build:
  stage: build
  script:
  - cd web
  - yarn install

web:test:
  stage: test
  needs:
  - web:build
  script:
  - cd web
  - yarn test --watchAll=false

You can remove the need for some of custom css by setting the variables and adding global overrides so the site looks uniform
  web/public/images/login-bg.jpg
  web/public/images/logo.png
  web/src/__tests__/AppNavigation.js
  web/src/__tests__/Login.js
  web/src/bootstrap-custom.scss
  web/src/components/inputs/InputText.jsx
  web/src/index.js
  web/src/pages/Login.jsx
Due: web:build, web:test

cleanup private routes and logout, redirect to entry page on login, add account page placeholder
  web/src/__tests__/Account.js
  web/src/__tests__/AppNavigation.js
  web/src/__tests__/Login.js
  web/src/actions/authAction.js
  web/src/actions/restoreAction.js
  web/src/hooks/useAuth.js
  web/src/layouts/dashLayout.jsx
  web/src/navigation/AppNavigation.js
  web/src/pages/Account.jsx
  web/src/pages/Login.jsx
Due: web:build, web:test

add server side validation to login api
  API/app/Http/Controllers/Api/LoginController.php
  API/resources/lang/en/validation.php
  API/tests/Feature/LoginTest.php
Due: api:build, api:test

add questions and associated valuelists, listitem resources
  API/app/Http/Controllers/Api/QuestionnaireController.php
  API/app/Http/Resources/Assessment/QuestionResource.php
  API/app/Http/Resources/Assessment/QuestionResourceCollection.php
  API/app/Http/Resources/Assessment/QuestionnaireResource.php
  API/app/Http/Resources/Assessment/SectionResource.php
  API/app/Http/Resources/Assessment/SectionResourceCollection.php
  API/app/Http/Resources/Assessment/Valuelist/ListitemResource.php
  API/app/Http/Resources/Assessment/Valuelist/ListitemResourceCollection.php
  API/app/Http/Resources/Assessment/Valuelist/ValuelistResource.php
  API/app/Http/Resources/SectionResource.php
  API/app/Http/Resources/SectionsResource.php
  API/app/Models/Assessment/Answer.php
  API/app/Models/Assessment/Question.php
  API/app/Models/Assessment/Questionnaire.php
  API/app/Models/Assessment/Section.php
  API/app/Models/Assessment/Valuelist/Listitem.php
  API/app/Models/Assessment/Valuelist/Valuelist.php
  API/app/Providers/AppServiceProvider.php
  API/database/factories/Assessment/AnswerFactory.php
  API/database/factories/UserFactory.php
  API/tests/Feature/QuestionnaireTest.php
Due: api:build, api:test

fix orderBy in valuelist listitem relationship
  API/app/Models/Assessment/Valuelist/Valuelist.php
Due: api:build, api:test

set the external test-api endpoint as the default api host
  web/src/config/URLs.js
Due: web:build, web:test

Add staging deployment to pipeline
  .gitlab-ci.yml
  API/Envoy.blade.php
Due: api:build, api:test, web:build, web:test

Add components and api controller for questionnaire rendering
  API/app/Http/Controllers/Api/AssessmentController.php
  API/app/Http/Kernel.php
  API/app/Http/Requests/Assessment/AssessmentRequest.php
  API/app/Http/Resources/Assessment/QuestionResource.php
  API/app/Library/Validation/Factory.php
  API/app/Library/Validation/Validator.php
  API/app/Models/Assessment/Section.php
  API/database/seeds/PcaSeeder.php
  API/database/seeds/QuestionnaireSeeder.php
  API/routes/api.php
  API/routes/web.php
  API/tests/Feature/AssessmentTest.php
  API/tests/Feature/QuestionnaireTest.php
  web/package.json
  web/src/__tests__/Inputs.js
  web/src/__tests__/__snapshots__/Inputs.js.snap
  web/src/actions/formAction.js
  web/src/components/assessment/Input.jsx
  web/src/components/assessment/Questions.jsx
  web/src/components/assessment/Sections.jsx
  web/src/components/inputs/Checkbox.jsx
  web/src/components/inputs/Select.jsx
  web/src/components/inputs/Textarea.jsx
  web/src/config/URLs.js
  web/src/layouts/dashLayout.jsx
  web/src/navigation/AppNavigation.js
  web/src/pages/Login.jsx
  web/src/pages/Questionnaire.jsx
  web/src/reducers/formReducer.js
  web/src/reducers/index.js
  web/src/services/apiService.js
  web/yarn.lock
Due: api:build, api:test, web:build, web:test

change api directory in Envoy deployment script
  apps/backend/Envoy.blade.php
Due: none

set spacing on js,jsx files to match web linter configuraton
  .editorconfig
Due: none

Added an initial pm2 ecosystem file and package.json script to serve the application
  apps/web/ecosystem.serve.config.js
  apps/web/package.json
Due: none

Implement service for FileMaker Data Api
  apps/backend/.env.testing
  apps/backend/app/Http/Controllers/Api/HomeController.php
  apps/backend/app/Http/Controllers/Api/ListitemController.php
  apps/backend/app/Http/Controllers/Api/SectionController.php
  apps/backend/app/Http/Controllers/Api/ValuelistController.php
  apps/backend/app/Http/Controllers/HomeController.php
  apps/backend/app/Library/FmDataApi.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/config/services.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/FmApiTest.php
Due: none

GRY-95 - refactored filemaker pro communications and added starter code for parsing csv files through a scheduled job
  apps/backend/app/Console/Commands/CsvReadFilesCommand.php
  apps/backend/app/Console/Commands/FmApiTest.php
  apps/backend/app/Library/FmDataApi.php
  apps/backend/app/Providers/AppServiceProvider.php
  apps/backend/config/filesystems.php
Due: none

Use components and set some bootstrap variables.
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/elements/PageAlert.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/pages/Account.jsx
  apps/web/src/pages/NotFound.jsx
  apps/web/src/pages/tabs/TabDocuments.jsx
  apps/web/src/styles/NotFound.scss
  apps/web/src/styles/PageAlert.scss
  apps/web/src/styles/bootstrap-custom.scss
  apps/web/src/styles/layout.scss
Due: none

GRY-104 - initialize laravel bouncer for roles and permission management.
  README.md
  apps/backend/app/Http/Controllers/Api/UserController.php
  apps/backend/app/Http/Resources/MyUserResource.php
  apps/backend/app/Http/Resources/RoleResource.php
  apps/backend/app/Http/Resources/RolesResource.php
  apps/backend/app/Models/User.php
  apps/backend/composer.lock
  apps/backend/database/migrations/2020_11_20_155350_create_bouncer_tables.php
  apps/backend/database/seeds/DatabaseSeeder.php
  apps/backend/database/seeds/GenerateBouncerRoleAndAttachToAdminSeeder.php
  apps/backend/routes/api.php
  apps/backend/tests/Feature/PermissionsTest.php
  apps/web/src/actions/userAction.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/reducers/userReducer.js
Due: none

Add Swagger API documentation
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Http/Controllers/Controller.php
  apps/backend/app/Http/Controllers/HomeController.php
  apps/backend/app/Providers/RouteServiceProvider.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/app.php
  apps/backend/config/cors.php
  apps/backend/config/l5-swagger.php
  apps/backend/package.json
  apps/backend/resources/views/layouts/app.blade.php
  apps/backend/routes/web.php
  apps/backend/tests/Feature/AssessmentTest.php
  apps/backend/tests/Feature/FmApiTest.php
  apps/backend/tests/Feature/LoginTest.php
  apps/backend/tests/Feature/QuestionnaireTest.php
  apps/web/src/config/URLs.js
Due: none

Update api path in permissions feature test
  apps/backend/tests/Feature/PermissionsTest.php
Due: none

Configure TrustProxies for AWS
  apps/backend/app/Http/Middleware/TrustProxies.php
Due: none

Add DAST to CI/CD
  .gitlab-ci.yml
  DAST.gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

Add web app deployment to pipeline config
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

zip web directory before copying to S3
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

zip web files quietly
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

build web app on runner
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

update syntax for yarn build
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

change to web directory for deploy build
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

set CI env so eslint warnings are not treated as errors
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

zip the build directory
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

reactivate sast in CI/CD pipeline
  .gitlab-ci.yml
Due: api:build, api:test, web:build, web:test

GRY-104 - initialize laravel bouncer for roles and permission management.
  apps/web/src/styles/layout.scss
Due: none

add saml2 package and configuration
  apps/backend/.env.testing
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/saml2/dme_idp_settings.php
  apps/backend/config/saml2/test_idp_settings.php
  apps/backend/config/saml2_settings.php
Due: none

add saml route and event handler for authed user
  apps/backend/.env.testing
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/routes/web.php
Due: none

add commands for AWS Inspector scan automation
  apps/backend/.env.testing
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
  apps/backend/app/Console/Commands/AwsInspector/RunCommand.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/app.php
Due: none

Not able to test locally I keep getting a 401 unauthorized issue. But, the rest work as expected.
  .gitlab-ci.yml
  apps/backend/.env.testing
  apps/backend/app/Http/Controllers/Api/LoginController.php
  apps/backend/app/Http/Controllers/Auth/LoginController.php
  apps/backend/app/Http/Controllers/SsoSaml2Controller.php
  apps/backend/app/Models/Assessment/Question.php
  apps/backend/app/Models/OathClients.php
  apps/backend/app/Models/User.php
  apps/backend/app/Providers/EventServiceProvider.php
  apps/backend/composer.json
  apps/backend/composer.lock
  apps/backend/config/saml2/dme_idp_settings.php
  apps/backend/config/saml2_settings.php
  apps/backend/config/services.php
  apps/backend/database/migrations/2020_12_08_023748_create_oath_clients_table.php
  apps/backend/database/seeds/UserSeeder.php
  apps/backend/routes/api.php
  apps/backend/routes/web.php
  apps/backend/storage/keys.txt
  apps/backend/tests/Feature/LoginTest.php
  apps/backend/tests/Feature/SsoLoginTest.php
  apps/backend/yarn.lock
  apps/web/.eslintrc
  apps/web/src/__tests__/Federated.js
  apps/web/src/components/elements/Icon.jsx
  apps/web/src/components/inputs/Button.jsx
  apps/web/src/config/URLs.js
  apps/web/src/hooks/useAuth.js
  apps/web/src/navigation/AppNavigation.js
  apps/web/src/pages/Federated.jsx
  apps/web/src/pages/Login.jsx
  apps/web/src/services/apiService.js
  ecosystem.config.js
Due: api:build, api:test, web:build, web:test

SAML authenticated user handling
  apps/backend/app/Http/Controllers/Api/LoginController.php
Due: none

add emailing and s3 upload for completed inpsector runs
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
  apps/backend/app/Console/Commands/AwsInspector/RunCommand.php
  apps/backend/config/services.php
Due: none

add email report functionality to report command
  apps/backend/app/Console/Commands/AwsInspector/ReportCommand.php
  apps/backend/config/mail.php
Due: none

Path conditions:
  api:build: any of: API/**/*, .gitlab-ci.yml
  api:test: any of: API/**/*, .gitlab-ci.yml
  web:build: any of: web/**/*, .gitlab-ci.yml
  web:test: any of: web/**/*, .gitlab-ci.yml
